[2016-11-11 20:34] vijaybandari opened #12 "Option to ignore tls certs (self signed)"

[2016-11-11 20:59] djenriquez commented on #12
Thanks for the request @vijaybandari. I'm currently looking into how to do this via the HTTP API and will get it out soon.

[2016-11-11 21:18] vijaybandari commented on #12
Looked at the npm module (axios) you are using and here is the flag to skip tls verification.

`process.env.NODE_TLS_REJECT_UNAUTHORIZED = '0';`

https://github.com/mzabriskie/axios/issues/12#issuecomment-56407083

Locally tested it by adding the above line to login.js and it worked fine. Will try to implementing it properly (node is not my cup of tea, but will give a try) :)

[2016-11-11 21:25] djenriquez commented on #12
Gotcha, it actually rejects on Axios (node), makes sense! Definitely feel free to submit a PR, otherwise we can implement it soon.

[2016-11-12 02:48] djenriquez commented on #12
@vijaybandari I was thinking about this and I don't think this is something that should be done through the UI. This is because the UI that you are loading to can serve multiple clients. If you were to change the node environment with `NODE_TLS_REJECT_UNAUTHORIZED` through the UI, say with a check box or something, you would actually be changing it for everyone who also is processing from that sam

[2016-11-15 19:43] vijaybandari commented on #12
It didn't work. I think this sets environment variable at system level (docker) & not accessible by node.

[2016-11-15 19:47] djenriquez commented on #12
Ok, I'll look into a [commander](https://www.npmjs.com/package/commander) argument for running vault-ui with the necessary flag. Just to clarify, you said adding `process.env.NODE_TLS_REJECT_UNAUTHORIZED = '0';` did what you needed it to correct?

[2016-11-15 19:49] vijaybandari commented on #12
yes DJ

[2016-11-15 19:49] djenriquez commented on #12
You added this to [login.js](https://raw.githubusercontent.com/djenriquez/vault-ui/master/src/login.js)?

[2016-11-15 19:54] vijaybandari commented on #12
Yes.

[2016-11-15 19:57] vijaybandari commented on #12
@djenriquez Wait, I think it's working. Not sure why it didn't work earlier. I will test it completly, give me sometime.

[2016-11-15 21:40] vijaybandari commented on #12
It's weird, it didn't work earlier (was using 4 days old docker image). Could be my docker setup issue, today docker itself stopped working and have to reset and pull latest image and works perfectly fine. Thank you very much for your help.
You can close this issue by adding that command to Readme :)

[2016-11-15 21:45] djenriquez commented on #12
Reference commit [5c215f4e](https://github.com/djenriquez/vault-ui/commit/5c215f4e7b209c83a45b8ba60a92399a074ece42). Closing, thanks for helping get this set up @vijaybandari!

[2016-11-15 21:45] #12 closed, assigned to nobody

[2016-11-21 23:00] warroyo opened #14 "Support multiple backends"
currently it looks like only the "root" backend is available, would it be possible to display all backends so that secrets can be managed in other generic backends?

the api call for this would be `v1/sys/mounts` you could then give the option to select each backend

[2016-11-21 23:47] djenriquez commented on #14
hi @warroyo, most definitely possible. We just need to prioritize which backends to add in and when. Any requests?

[2016-11-21 23:54] warroyo commented on #14
Awesome! I would say that generic would be my first choice. Also would probably be the easiest since the  'secret' mount is a generic type so the logic is already there

[2016-11-22 00:17] djenriquez commented on #14
You know, the generic backend IS actually the only supported backend right now. The "root" just specifies the root of the generic backend namespaced keys.

That being said, we still need to support all the others.

[2016-11-22 00:27] warroyo commented on #14
from what I could tell the root is hard coded to the 'secret' mount which is a generic backend. I have multiple generic backends and I am unable to see them.

[2016-11-22 02:24] djenriquez commented on #14
Hmm there might be something else going on here for you. "ROOT" is just the label for the keys available at the root generic backend. So for example, if I were to log into Vault, authenticate, then run `vault list secret`, all the keys there will show up under "ROOT":
[code]
<img width="813" alt="screen shot 2016-11-21 at 6 19 54 pm" src="https://cloud.githubusercontent.com/assets/4636740/20508549

[2016-11-22 02:52] warroyo commented on #14
Ok I think I see where disconnect is here.

When I log in with my root token, I am able to see the `secret` mount exactly as you are describing along with it's keys. However the `secret` mount is just the default generic backend that the vault tutorial uses. you can mount as many generic backend types as you want. for example I have mounted another generic backend called `app-secrets` this mount i

[2016-11-22 08:55] djenriquez commented on #14
Yes, it does make sense, looked like we misinterpreted a Vault feature. We'll get this going soon and give the option to change generic backends. With the holidays rolling around, I can't promise this'll be done right away, but hopefully soon enough!

[2016-11-28 11:15] lagrianitis opened #15 "Enable LDAP support"
It would be a nice to add ldap authentication support.

[2016-11-28 16:36] djenriquez commented on #15
Thanks for the request @lagrianitis. We'll get this into the books and work on it soon. Holidays slowed down our progress a bit, but we expect to pick it back up real soon.

[2016-12-01 23:49] RobertLippens commented on #15
@djenriquez think we can close this issue with @joraff 's PR being merged?

[2016-12-04 00:42] msabramo commented on #15
As @RobertLippens already pointed out, is this implemented by #16?

[2016-12-04 00:53] msabramo opened #17 "Example screenshot showing adding a key is misleading/incorrect"
There is an example image in the docs that shows a screenshot of the "New Key" dialog with a key of "hello" and a value of "my secret":

[![New Secret dialog](https://raw.githubusercontent.com/djenriquez/vault-ui/master/images/NewSecret.png)](https://raw.githubusercontent.com/djenriquez/vault-ui/master/images/NewSecret.png)

But when I try to do this, no key is added and there is no error displaye

[2016-12-04 01:03] Lucretius commented on #17
Hi @msabramo

Did you read the section on secrets: https://github.com/djenriquez/vault-ui#secrets?

[2016-12-04 03:51] djenriquez commented on #17
Thanks @msabramo, we will add something in to help clarify that. For now, did @Lucretius' suggestion help?

[2016-12-04 03:51] djenriquez commented on #15
Yes, this is complete. Closing.

[2016-12-04 03:51] #15 closed, assigned to djenriquez

[2016-12-04 07:19] djenriquez commented on #17
https://github.com/djenriquez/vault-ui/issues/19 handles the silent failure ^

[2016-12-04 07:57] #17 closed, assigned to djenriquez

[2016-12-04 07:58] djenriquez commented on #17
Closing with https://github.com/djenriquez/vault-ui/pull/19 merge, feel free to re-open if you feel there needs to be more than the check, @msabramo.

[2016-12-04 08:14] msabramo commented on #17
Thanks, @Lucretius and @djenriquez! I did miss the section that @Lucretius mentioned. That does explain what's going on.

[2016-12-04 08:56] msabramo commented on #17
Love the new error message in #19 - that would've tipped me off right away that I was missing the fact that it was expecting JSON. For those who are wondering what we're talking about, here's how it looks:

![screen shot 2016-12-04 at 12 50 17 am](https://cloud.githubusercontent.com/assets/305268/20865066/6c8abd10-b9bc-11e6-9804-beafd009460c.png)

[2016-12-06 22:47] warroyo commented on #14
any update on this?

[2016-12-07 06:24] aedades commented on #14
We're working on this and should have this ready soon!

[2016-12-14 12:45] nickwales opened #28 "Set vault cluster address permanently"
It would be great to be able to set the cluster address as an admin so each user doesn't have to.

Either in a configuration file, environment variable or the UI works for me.

Kudos for the project, works perfectly for my needs.

[2016-12-15 10:59] lagrianitis opened #29 "Change docroot from / to /ui"
Hello,

Is it possible to change the docroot of the application from / to /ui (or any) ?
I am trying to run it behind load balancer but the app is always calling back the requests to / (even if i rewrite the location in my configuration)

[2016-12-16 08:55] lagrianitis opened #30 "Credentials are being compromised in plain text when POST /login"
When I'm trying to authenticate with username / password or token, if I will inspect element, my credentials are being exposed in plain text.
It would be nice to mask the password key:

XHR
https://vault-ui.example.org/login [HTTP/2.0 400 Bad Request 22ms]
Headers
POST
Response
Call Stack
{"VaultUrl":"https://vault.example.org","Creds":{"Type":"USERNAMEPASSWORD","Username":"dasd","password":"233"}

[2016-12-17 09:35] Lucretius commented on #29
Unfortunately, it's not really possible in a one-line change with the way the app is setup.  If you wanted to do it manually:

In the `App.jsx` file, you will see, near the bottom, the route setup as follows:
[code]

You should be able to just change the "/" path to "/ui" or whatever you want the root to be.

Then, in the Home.jsx file there are many references to `/` paths which would need to be

[2016-12-17 09:40] Lucretius commented on #28
This is probably something we wouldn't add to the project, simply because we had envisioned the Vault UI as something already only used by just a handful of admins.  However, if you felt so inclined, it would be pretty trivial to throw into a version of the code you pull down:

Just adding a script in the `index.html` file should do the trick:
[code]

Then, everyone who visits the Vault UI will ha

[2016-12-17 09:51] djenriquez commented on #28
Thinking about this some more, we can probably get this done without any negative tradeoffs by setting it through an environment variable. This would be built such that the presence of the variable would set the address as the default, otherwise keep it blank.

Local storage would still hold priority, so if someone modifies the value, it would then modify it for that browser, thus overriding the v

[2016-12-17 09:52] djenriquez commented on #30
How would we handle this one @lucretius?

[2016-12-17 10:05] Lucretius commented on #30
As far as I'm aware it's standard practice to send plaintext username/password over https to your server to authenticate users.  Sure, you can see it when you inspect element, but sent over https, no one will be intercepting your request (assuming you haven't given some malicious Chrome extension permission to read everything on your page or something of that nature)

See:
http://security.stackexc

[2016-12-17 10:07] djenriquez commented on #14
How we doing on this @aedades?

[2016-12-17 10:08] Lucretius commented on #28
To do this, you'll need to change the `res.sendFile` to `res.render` and pass an object to it containing the value of that server variable you create.  For example:

`res.render('index.html',{ vaultUrl: 'www.vault.rocks' });`

Then, vaultUrl will be a window property you can access and set via that script I mentioned above (only if it isnt already set - depending on what you want to override what)

[2016-12-17 10:09] alexunwin commented on #30
@Lucretius This is correct, everything is secured over https. Check any other login client, everything is exposed in the network call because it is assumed that the user is behind the call with the credentials needed to login. If they are leaked elsewhere then maybe, but any major auth client will expose the username/password in the network call because https handles it, preventing any attempt at

[2016-12-17 10:21] alexunwin commented on #29
I am not sure why this is necessary, this is a load balancer config issue. You should be able to specify the root path and it should (for the most part) point to "/". I am not sure I understand the need to change it to "/ui" unless your load balancer is configured for more than one application.

[2016-12-17 15:55] lagrianitis commented on #30
I understand that the request is send from client side and by having ssl should be a problem.
What worries me is that if as an admin of that server I can log in the server and be able to see user sensitive data in the logs. (Ie the passwords or tokens of other users).

[2016-12-17 15:56] lagrianitis commented on #29
Lucretius thanks for the help that works for my case. Alex my issue wasn't with the application but indeed with the LB

[2016-12-17 17:58] Lucretius commented on #30
If we have any rogue console logs that are printing the plaintext passwords/tokens on the serverside they can be removed - is that what you are seeing?  Otherwise they're just held in memory for that single request and discarded.

[2016-12-17 20:25] alexunwin commented on #30
As far as I can tell, nothing like this is even being logged in the server. Also the log message the client gets on a 400/403 doesn't expose the call stack like this. So I am not sure how you are seeing that even with `Log XMLHttpRequests` turned on. Nothing exposes this level of derail from what I can see.

[2016-12-18 10:40] lagrianitis commented on #30
Thank for your confirmation. We can close this issue then.

[2016-12-18 10:40] #30 closed, assigned to nobody

[2016-12-20 04:20] djenriquez commented on #14
Almost complete: https://github.com/djenriquez/vault-ui/pull/31 just some last minute nit-picky stuff...

[2016-12-20 19:36] nickwales commented on #28
This sounds perfect. I want to provide self service to developers in non-production environments. Making it as straightforward for them to get access is key.

[2016-12-23 01:49] Lucretius commented on #28
@nickwales This should be available now.  Just set your env variable `VAULT_DEFAULT_URL="url"` and everything should work fine.

[2016-12-27 18:03] djenriquez commented on #14
@warroyo Sorry about the long delay, I blame the holidays 🎅 🎄 :deer:  for showering us with inefficiencies 😉

Check out the latest image built and let us know what you think:
[code]

[2016-12-27 18:04] djenriquez commented on #28
Closing--feel free to reopen if you feel the issue has not been resolved.

[2016-12-28 17:24] warroyo commented on #14
@djenriquez  thanks!

I am able to click on root now to try and view other backends, however i do not see any other mounts and this error is also returned.

`ncaught (in promise) TypeError: Cannot read property 'data' of undefined`

[2016-12-29 03:47] djenriquez commented on #14
interesting, I tested it out on an account with the root token, is it possible that your authentication credentials doesn't have access to the other secrets?

[2016-12-29 16:42] warroyo commented on #14
I am also using the root token for testing this.

looking at the "network" tab in chrome i see that the `listbackends` call is returning proper json with all of my secret backends. however when clicking `root` in the secrets path the above JS error is returned and nothing is displayed. it seems to be having an issue parsing the backends on the JS side

it seems as though when clicking root it is l

[2016-12-31 12:05] vikas027 opened #34 "Unable to Login - Request failed with status code 503"
Hello,

In my test environment, I am running Docker Containers of Vault 0.6.4 with Consul 0.7.2 backend and have created few users which are working as expected on CLI.

[code]

But, I am unable to login thru the UI. These are the errors of docker container
[code]

The error on the web UI is _Authorization failed_

Cheers.

[2017-01-01 02:06] djenriquez commented on #34
Hi @vikas027 ,

A 503 status code means that Vault-UI is unable to communicate with your Vault properly.

A few things to check:
- Is the specified endpoint you specified for vault is the full url--scheme, address and port? (i.e. https://my.vault.com:8200)
- Are you using a self-signed certificate?
- Are there firewall rules in place preventing the communication?

[2017-01-01 02:18] djenriquez commented on #14
Hmm very strange. I'm looking at the part of the code where this would fail, which is [here](https://github.com/djenriquez/vault-ui/blob/master/app/components/Secrets/Secrets.jsx#L266) or the line below, but if you're seeing a proper JSON in the response in the networking tab, this should be working.

Could you check the image that you're running with `docker inspect djenriquez/vault-ui:latest` an

[2017-01-01 03:31] vikas027 commented on #34
Hello @djenriquez ,

Happy New Year :sparkles: !

I am not using any self-signed certificate and have configured this in the settings.
![2017-01-01_13-48-28](https://cloud.githubusercontent.com/assets/6998650/21580039/fb9bb702-d028-11e6-9093-2221c1524a2b.png)

Also, I can reach to the vault server and port from my Macbook
[code]

Interestingly, I have restarted all (consul, vault, vault-ui) contai

[2017-01-01 03:39] vikas027 commented on #34
Additionally, I did try to use `Token` method as well. I can login only thru `root` token, user tokens are not working.

[2017-01-03 13:59] nickwales commented on #28
Works perfectly, thank you.

[2017-01-03 21:26] nickwales commented on #28
So now when using this I'm having issues getting vault-ui to login. Using the :latest image I have tried on multiple browsers but each time it appears to get authenticated, starts opening the secrets page and then immediately bounces back to the login screen. This is whether or not I provide an environment variable

I can however successfully login using the 0.1.0 image.

[2017-01-03 21:39] djenriquez commented on #28
@Lucretius can you check out the auto-logout feature that changed in the refactor?

[2017-01-04 16:36] warroyo commented on #14
I deleted the image and pulled it again, and see the same issue. the digest is the same.

here is the json being returned(i renamed some things),

[code]

[2017-01-05 14:33] nickwales commented on #28
Could we also set a preference for authentication type? We're primarily setting up LDAP auth and it would be great to make that the default.

[2017-01-05 17:14] Lucretius commented on #28
Would be possible to set a default login type sure.  As for your current issue - I would guess you're signing in with LDAP.  The code I've written expects a lease duration back from the login code.  If it has a duration of 0 I know I have a root token else I just set a timeout for the lease duration in ms.  So I wonder if somehow no lease duration is being returned.  If you open a chrome window an

[2017-01-05 18:22] nickwales commented on #28
Here is the response

[code]

[2017-01-06 08:06] Lucretius commented on #28
https://github.com/djenriquez/vault-ui/pull/35 hopefully fixed this

[2017-01-06 16:51] djenriquez commented on #34
Haven't forgotten about this @vikas027, just been a little busy, ramping up on a new job. If you find any additional details, let me know. Otherwise I'll try to make time this weekend to get this going.

Real quickly, this might not matter because you have proven you can authenticate with the root token, but since you're using Vault through 80, I'm thinking maybe theres something there with it not

[2017-01-06 16:52] djenriquez commented on #14
Thanks for the info @warroyo, havent forgotten about this, just been a little tied up ramping up on a new job. I'll try to make time this weekend to figure this out. I think the issue is likely just a stupid string incompatibility. Do any of your generic backends have any special characters?

[2017-01-06 17:06] djenriquez commented on #28
This issue should be fixed with https://github.com/djenriquez/vault-ui/pull/36, if not, feel free to reopen.

[2017-01-06 17:06] #28 closed, assigned to Lucretius, djenriquez

[2017-01-07 10:25] vikas027 commented on #34
No worries @djenriquez  I know new job is always busy. Take your own time.

[2017-01-18 00:53] tallpauley opened #39 "Add support for token auth via HTTP Header"
I would love if Vault UI could read a Vault token in `X-Remote-User` (or whatever name) if present, allowing use of custom SSO front-end. In my use case, we would have a SAML 2.0 SSO proxy which could use a hook to get a Vault token for a user and pass it along to Vault UI so that the user wouldn't need to log in again after SSO.

SAML for Vault is [sort-of in-progress](https://github.com/hashicor

[2017-01-18 05:34] msessa commented on #39
Check out #40 for a possible implementation

[2017-01-18 17:34] djenriquez commented on #39
To clarify what #40 is trying to achieve: `VAULT_SUPPLIED_TOKEN_HEADER` would be used to tell the server to look for the header defined in this environment variable, then take that header's value which will be assumed to hold a token to authenticate into Vault-UI.

I understand that this should take care of your request, @tallpauley, what do you think?

[2017-01-18 17:39] djenriquez opened #41 "Implement token management"
Currently Vault-UI does not allow authorized users to manage tokens in Vault. Users still need to access Vault through the CLI to generate tokens and such. This feature request will allow users to perform all available token operations such as viewing, creating, modifying and revoking.

[2017-01-18 20:26] tallpauley commented on #39
@djenriquez yeah, configurable header name is a nice touch. Exactly what I'm looking for, and I can close the issue as soon as change is made to PR and it merges. Thanks for the fast contribution @msessa-cotd

[2017-01-19 00:28] msessa opened #42 "Serverless design"
Reading through the server-side node app source code it looks like most of the routes are simply proxying the client request to the vault server with no further modifications.

Given a scenario where the vault server is exposed directly to clients via a reverse proxy (nginx or such) adding the `Access-Control-Allow-Origin: *` header, it could be possible to adapt vault-ui react code to speak direc

[2017-01-19 08:18] djenriquez commented on #42
Yes, @msessa-cotd, in fact, this was actually our original design. The problem with this though was that Vault did not have the ability to manage CORS. Such a design _dependened_ on a reverse proxy to add in headers. Since the dependency took it outside of Vault, we decided to implement Vault-UI the way it is today.

Really, we'd love to simplify it as much as possible, but "out-of-the-box" use-ca

[2017-01-19 09:11] msessa commented on #42
I might attempt something in a branch where I reduce the nodejs component to nothing but a reverse proxy and change all the react code AJAX calls to the original vault API specs.
If this effort proves successful it would make things easier when and if vault implements CORS headers.

[2017-01-19 09:14] msessa commented on #41
I'm also looking into this. Should we create a branch where we can collaborate on the code?

[2017-01-19 18:51] djenriquez commented on #41
Yea, feel free to do so. Shippable will only push changes merged to master or release tags created.

[2017-01-19 18:51] djenriquez commented on #39
#40 Merged

[2017-01-19 18:51] #39 closed, assigned to nobody

[2017-01-20 15:19] rptxcosmo opened #43 "Direct link to a specific secret using an URL"
Hi,

Could you add the possibility to reach a specific secret using an URL ? :
Example :
For ROOT/SECRET/THIRDPARTY/GOOGLECLOUD/
https://vault:8000/secrets/thirdparty/googlecloud/

Thanks.

[2017-01-24 07:04] msessa commented on #41
Hi @djenriquez, @alexunwin

I've pushed some code from my implementation of the token management functionality in the [token_management](https://github.com/djenriquez/vault-ui/tree/token_management) branch.

### Implemented functionalities:
- List Accessors
- Revoke Accessor
- Lookup Accessor
- New token creation

### TODO
- Roles
- Token utils (Revoke by token, Renew token, Lookup token)

### Not

[2017-01-26 23:52] djenriquez commented on #41
Awesome @msessa-cotd! Sorry for the delay, just now seeing this. I'll take a look tonight and see try to gather some feedback.

[2017-01-27 10:46] chroju opened #44 "Policy with glob character does not work correctly"
Hello,

My access control policy is shown below
[code]

and I log in to vault-ui, but "foo" is not displayed in the Secrets. When the path is set to "secret/*", "foo" is displayed. Is the glob character handled correctly ?

Thanks.

[2017-01-27 11:17] msessa commented on #44
Hi @chroju,

According to the [vault docs](https://www.vaultproject.io/docs/concepts/policies.html), a _write_ policy translates to the following capabilities:
- create
- read
- update
- delete
- list

however those capabilities only apply *starting from* the specified path.
In order to browse your secrets in Vault UI, your policy needs the following:
[code]

Extra capabilities like read or write

[2017-01-27 13:26] chroju commented on #44
Hi @msessa-codt,

Oh, I didn't understand the Vault Docs properly. Thank you for you reply.

[2017-01-27 13:26] #44 closed, assigned to nobody

[2017-01-29 02:07] djenriquez commented on #41
@msessa-cotd

Great work. The new API route is definitely the direction best for this project as it removes unnecessary translations. If/when CORs are supported by Vault, we can most definitely apply #42 and reduce the level of maintenance quite a bit. Though I would think with this kind of setup, it maybe easier for our users as it would apply a more "ready out-of-the-box" implementation--users w

[2017-01-29 02:09] djenriquez commented on #41
Actually, I just read that there are still some todos. Let's do that PR when its all ready.

[2017-01-29 03:34] djenriquez commented on #34
@vikas027

I'm working on this now, actually redoing the whole way the API works to authenticate with Vault to remove a lot of the fluff it has now. I haven't been able to replicate your issue, but this change invalidates the foundation of what you may have been going though.

Should have something ready for you to test it out with tonight.

[2017-01-29 09:38] djenriquez commented on #34
@vikas027 I have the changes uploaded to image `djenriquez/vault-ui:dev`. Please check that image out and give it a shot, otherwise the changes will be merged in eventually for the 0.2.0 release. You can see the pending changes on this branch: https://github.com/djenriquez/vault-ui/tree/login_api_refactor

Let me know if this doesn't fix it for you.

[2017-01-29 18:41] djenriquez commented on #43
@Lucretius any ideas how to approach this one?

[2017-01-29 19:11] Lucretius commented on #43
We could add a dynamic route to the router, which will have an `onEnter` that will do a lookup in vault for the secrets ahead of time and if it exists send you to the specified secret page, otherwise route you to an error page.

[2017-01-29 20:35] djenriquez commented on #14
@warroyo We changed the api calling to Vault quite a bit, can you try running the image `djenriquez/vault-ui:dev` and see if you're still experiencing this problem?

[2017-01-30 08:35] djenriquez commented on #43
Added in a fix for the direct URI supporting all generic backends, https://github.com/djenriquez/vault-ui/commit/423ff0c4297804d78b8bbaaf2adef11c7e2833db. Still needs to handle nonexistent secrets. @Lucretius feel free to jump in on that one.

[2017-01-30 15:48] warroyo commented on #14
@djenriquez I just pulled the image and I am still not seeing any data when clicking the `root` path in the GUI.

when loading the main secrets page i see this error.

[code]

it looks like this error has moved form when clicking `root` to now the load of the `secrets` page.

[2017-01-30 19:28] djenriquez commented on #14
Ok, sorry to keep asking you to do this, but I rebuilt the image with some special logging:
The problem you're having is happening in here.
[code]

It sounds like the call to `/v1/sys/mounts` isn't returning the correct structure we're anticipating. I added some logs that you'll see in your browser's console that'll display the entire `resp` object. Could you run this image and paste back what you

[2017-01-30 20:34] warroyo commented on #14
I pulled the latest image, but I am not seeing the logs. If i switch to a non root token, i do see the dumped response object but all I see is permission denied in the object, which makes sense.

actually it looks like this is the error now:

`Secrets.jsx:276 Uncaught (in promise) TypeError: Cannot read property 'data' of undefined`

it is failing in the catch

https://github.com/djenriquez/vault-

[2017-01-30 21:43] djenriquez commented on #14
What version of Vault are you running. Also did you pull the latest `:dev` image?

[2017-01-30 23:10] warroyo commented on #14
yea I pulled the latest dev image and validated. running version `0.6.0` of vault

[2017-01-31 07:03] djenriquez commented on #14
k that was an easy fix, i have another update to `:dev` up which corrects that. let me know how it goes.

[2017-01-31 16:12] warroyo commented on #14
ok, I pulled the latest image and I am getting a new error.

[code]

it looks like in the list backends function the foreach is looping over `resp.data.data` however the `resp` object looks like this

[code]

i think there is an extra refernce to data in the loop.

[code]

[2017-02-01 04:11] djenriquez commented on #14
Got it.

What we've been dealing with here is an incompatibility with 0.6.0. We designed Vault-UI in 0.6.1, where the `data` object was introduced into the response for `/sys/mounts`.

From the Vault CHANGELOG: `sys/mounts: MountTable data is compressed before serializing to accommodate thousands of mounts [GH-1693]`

So in 0.6.0, `/sys/mounts/` looked like this:
[code]

In 0.6.1+, it looks like t

[2017-02-01 04:20] djenriquez commented on #34
@vikas027 closing this issue for now as the API change invalidates the foundation of this issue, feel free to reopen if your issue was not resolved.

[2017-02-01 04:20] #34 closed, assigned to djenriquez

[2017-02-01 05:52] djenriquez commented on #43
Hi @rptxcosmo, can you verify the `:latest` image includes the feature you requested? Thanks 😄

[2017-02-01 20:57] warroyo commented on #14
ahh ok that makes sense! I pulled the `:dev` image but it looks like on docker hub it has not been updated in 2 days(it also still has the error), however the `:latest` was updated 15 hours ago and seems to be working! was this accidentally pushed to latest?

[2017-02-02 00:37] djenriquez commented on #14
The `:dev` image was a manual push, it probably failed and i wasn't paying attention =P.

Anyways, glad to hear its working! Are we good to close this issue?

[2017-02-02 00:38] warroyo commented on #14
yea I think so!

[2017-02-02 00:39] #14 closed, assigned to nobody

[2017-02-03 12:48] msessa commented on #41
Completed the token role management part.

There's still a number of uncovered endpoints (revoke by token, lookup by token, etc).
But without being able to list existing tokens in vault (which is a sensible design choice imho) having a UI around those functions is kind of pointless.

I think we can close this issue for now, the current code it's pretty functional at this point.

[2017-02-06 20:16] #41 closed, assigned to nobody

[2017-02-08 00:00] nickwales opened #49 "Read policy required on sys/mounts for 1.0.0"
Using an instance of the 1.0.0 version with the same configuration and pointed at the same Vault  I am unable to see any secrets, while it works on an 0.1.0 instance. I'm authenticating with LDAP which works, however any subsequent requests for secrets don't show anything beyond ROOT.

The vault audit logs for a 0.1.0 working request look like:

`{"time":"2017-02-07T23:43:23Z","type":"request","au

[2017-02-08 00:09] msessa commented on #49
Hi @nickwales,

You are correct. Vault-UI has moved from _assuming_ the default mount of the generic backend on `secret/` to attempting to enumerate the backends using `sys/mounts`.

I'll work on a PR to update the docs and, even better, display a warning message after login if `sys/mounts` is not accessible.

[2017-02-08 15:30] b1-88er opened #50 "Building deb package."
I miss the way to distribute this app. Could the building the deb package be implemented?
I am no expert in nodejs, but I use git2consul (also nodejs) as a debian package.
https://github.com/Cimpress-MCP/git2consul/blob/master/Gruntfile.js#L5

[2017-02-08 20:32] djenriquez commented on #50
Hi @eddwardo.

We do not currently support any other packaging solutions outside of Docker. This project is meant to be run as a Docker container for production. There is a process of running it locally outside of docker as you can see [here](https://github.com/djenriquez/vault-ui/blob/master/README.md#with-docker) but that process is meant for development.

Are you having problems running the Doc

[2017-02-10 22:44] djenriquez commented on #43
Verified that this feature is complete, closing.

[2017-02-10 22:44] #43 closed, assigned to Lucretius

[2017-02-13 07:53] jippi opened #51 "collaboration with jippi/hashi-ui"
Hi @djenriquez

vault-ui looks amazing! I don't know if you know about my project [hashi-ui](https://github.com/jippi/hashi-ui) - but its a UI similar to your vault-ui, just for nomad and consul.

The long-term goal is to include the full hashi-stack into one glorious UI, and even longer term, have nice cross-interaction between the different tools, as most people use almost all of the hashi-stack

[2017-02-13 09:18] b1-88er commented on #50
We don't support running docker containers on prod yet (as many companies). It would be nice no to depend on Docker in order to run node app.

[2017-02-14 02:41] djenriquez commented on #51
Hey @jippi,

Definitely love the work you're doing there with Hashi-UI. Our goal is the same, to help the community out by providing an awesome tool. Let me discuss with the team and we'll get back with you!

[2017-02-14 07:17] jippi commented on #51
@djenriquez amazing! :)

Just want to reiterate that I want to make the potential transition as smooth as possible, also in terms of code license, access, commit bits and project ownership in general :)

[2017-02-14 17:20] alexunwin commented on #50
just pull the source from the latest release tag and build/deploy it...it does not have a hard dependency on docker.

[2017-02-14 18:02] tallpauley opened #52 "Secret Change Review w/ JsonDiffPatch"
I think it'd be great to have an option for an additional modal after editing a secret or policy (or any JSON for that matter) that shows a diff of the changes w/ [jsondiffpatch](http://benjamine.github.io/jsondiffpatch/demo/index.html).

The option would also change the edit modal's "SUBMIT" text to "REVIEW", and then the following modal with the diff would have "CANCEL" and "SUBMIT".

I think th

[2017-02-15 12:51] msessa commented on #52
interesting idea. would like to see it implemented

[2017-02-17 21:50] b1-88er commented on #50
If there are no plans to provide deb package, I am closing this issue.
Thanks for response.

[2017-02-17 21:50] #50 closed, assigned to nobody

[2017-02-20 16:33] glehmann commented on #43
It works. Thanks!

[2017-02-20 16:38] glehmann opened #54 "secret is no longer visible in the secrets page"
Previously, /ROOT/SECRET was displayed in the secrets page, allowing to navigate in the secrets.
Now the page only shows /ROOT, and no link to /ROOT/SECRET.
/ROOT/SECRET can be accessed thanks to the new url navigation feature — for example, at http://vaultui:8000/secrets/secret/

[2017-02-20 16:41] glehmann opened #55 "the login page is not redirecting the expected page"
When trying to access a specific secret by url, the user is redirected to the login page (which is fine) but is not redirected to the expected secret once successfully logged in.

[2017-02-20 17:42] djenriquez commented on #54
@glehmann This looks related to https://github.com/djenriquez/vault-ui/issues/49. Can you confirm that your token has access to `sys/mounts`? If not, it will not show `secret` in the list. If so, we have a pending release that makes this more obvious to the user.

[2017-02-20 18:52] glehmann commented on #54
My user didn't have read rights on `sys/mounts`. Adding them fixed the problem. Thanks!

[2017-02-20 18:52] #54 closed, assigned to nobody

[2017-02-21 03:01] msessa commented on #55
Hi @glehmann,

This issue has been addressed on the upcoming v1.1.0.
If you feel like giving it a spin it's the `dynamic_nav` branch

[2017-02-21 03:13] msessa commented on #42
Upcoming v1.1.0 removes all remaining logic from the node/express code.

CORS support in Vault has been scheduled for [v0.7.0](https://github.com/hashicorp/vault/milestone/16). Once it's released we can start planning the phasing out of the server side nodejs component.

For now I'll just close this issue.

[2017-02-21 03:13] #42 closed, assigned to nobody

[2017-02-21 03:47] djenriquez commented on #55
@glehmann updates have been merged to master. We will be staging this for a bit before releasing v1.1.0, feel free to run `:latest` to test out.

[2017-02-21 11:22] glehmann commented on #55
It works great. Thanks!

[2017-02-21 11:22] #55 closed, assigned to nobody

[2017-02-21 18:48] djenriquez opened #56 "Add Web CLI"
I believe there would be significant benefits in adding a web cli to Vault-UI that allows users to execute Vault CLI commands. This would give users the ability to perform any Vault operation through the UI even if the UI doesn't directly provide an interface for it.

The CLI would use the same token as the UI, which will automatically limit the users to their assigned policies. This could be the

[2017-02-22 00:01] msessa commented on #56
What do you mean by _execute Vault CLI commands_ ? Do you mean provide a web console to the actual `vault` go binary, or you mean an interactive interface to the REST API?

[2017-02-22 00:02] msessa commented on #49
The `:latest` version of vault-ui displays helpful warning messages on the homepage when read policy is not granted on `sys/mounts` or `sys/auth`.

Closing this issue

[2017-02-22 00:02] #49 closed, assigned to nobody

[2017-02-22 04:01] djenriquez commented on #56
The first, provide a web console to the actual vault go binary. 🤔

[2017-02-22 04:27] msessa commented on #56
How do you plan to implement it purely client side?

On Wed, 22 Feb 2017 at 3:01 pm, DJ Enriquez <notifications@github.com>
wrote:

The first, provide a web console to the actual vault go binary. 🤔

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub
<https://github.com/djenriquez/vault-ui/issues/56#issuecomment-281562599>,
or mute the thread
<https

[2017-02-22 07:56] jippi commented on #51
@djenriquez hi, any news on this? :) I got Vault tasks in my first sprint at my new job @seatgeek - and would love to work on this :)

[2017-02-22 15:56] djenriquez commented on #56
That is a good question that requires some brainstorming. But as far as the tech, @aunwin mentioned we could utilize something like https://hyper.is/#installation.

[2017-02-22 17:33] djenriquez commented on #56
So i was thinking about this more, and really since we have a backend component to Vault-UI, we can throw a Vault binary into the container that is accessible by the backend. Then we just need to figure out how to display it, and i think what @alexunwin suggested with hyper.is might do the trick.

This appears to be feasible, what do you guys think? Is this taking away too much from the project? D

[2017-02-23 02:11] msessa commented on #56
I like the idea of the backend being nothing but a passthrough to work around the lack of CORS headers in vault, but then again I'm kinda biased since I've been the one advocating it.

Personally, I'd still rather focus on implementing tailored UI components.

[2017-02-23 08:08] djenriquez commented on #56
Sure I get your thoughts. The motivation behind this was whenever there was an operation that couldn't be done in the UI, simply from lack of completion, users would still need to use the CLI. One example is mounting a secrets backend, which can't be done in this project yet.

I can see that yes, maybe this is something that we use as motivation to build these features out, but I think we can capt

[2017-02-23 17:38] djenriquez commented on #51
@jippi

Christian sorry for the long delay! Just getting some last minute feedback. I'll reply to this later tonight.

[2017-02-27 13:52] rptxcosmo opened #63 "Add ability to move or rename a folder"
Currently we cannot move or rename a folder containing secrets.

[2017-02-27 19:51] djenriquez commented on #51
@jippi

We appreciate the work you guys are doing with Hashi-UI and we thank you for the request to join together. We did however, decided that we would like to stay a separate project. That being said, while staying separate, we would still like to help where we can. We were thinking a good solution might be to fork + submodule the repo.

Anyway, open to your thoughts.

[2017-02-28 00:40] josegonzalez commented on #51
@jippi Seems like this issue can be closed :)

[2017-02-28 01:18] msessa commented on #63
Hi @rptxcosmo,

At the moment Vault doesn't support this operation either.

In order to achieve that, vault-ui would have to recursively read all objects inside a folder and re-create them inside the new one, then delete all objects in the original folder.

Perhaps you should be requesting this feature from the [official vault](https://github.com/hashicorp/vault) project.

@djenriquez any thoughts

[2017-02-28 04:34] djenriquez commented on #63
@rptxcosmo Yes, I definitely like the idea, and though its possible to hide this logic within the UI, it can be a rather dangerous operation.

For example, if a specific namespace holds thousands of child keys, each key will have to go through the operation, and can ultimately take Vault down. For that reason, we cannot support this feature until the Vault project can provide a method of doing so.

[2017-02-28 09:53] mcinquin opened #64 "vault-ui in https"
Hello,

I have not seen any information to pass vaul-ui in https?
Is it possible ? If so, would it be possible to have documentation?

Regards.

[2017-02-28 18:56] djenriquez commented on #64
Hi @Shini31,

Vault-UI does not currently support TLS termination, but all calls _to_ Vault are secured as long as Vault has TLS enabled.

We should definitely add an item in the README, but its recommended to run Vault-UI behind a load-balancer of some sort that can terminate TLS. All modern cloud providers have this functionality with their load balancers. Otherwise, if you are on bare-metal, yo

[2017-03-01 17:38] mcinquin commented on #64
Hi @djenriquez ,

That is what I thought. My alternative solution was actually to put in place a reverse-proxy solution
Indeed a small note on this subject in the car would be a good idea :)

In any case, good job for this Web UI !

Regards.

[2017-03-01 17:38] #64 closed, assigned to nobody

[2017-03-03 17:09] rptxcosmo commented on #63
Hi,
No plan on Vault Project to implement this feature : https://github.com/hashicorp/vault/issues/2414

[2017-03-03 17:09] #63 closed, assigned to nobody

[2017-03-03 17:24] rptxcosmo opened #66 "Add buttons to copy and show/hide a secret"
![copy_show-hide](https://cloud.githubusercontent.com/assets/2970398/23561415/6ea67b66-003e-11e7-815e-c868a02ba02a.png)

[2017-03-06 17:28] rptxcosmo opened #67 "Order secrets alphabetically"
Currently secrets are not ordered alphabetically.

[2017-03-08 08:08] #51 closed, assigned to nobody

[2017-03-08 08:08] djenriquez commented on #56
I'm seeing less and less value for this, closing.

[2017-03-08 08:08] #56 closed, assigned to nobody

[2017-03-08 08:10] djenriquez commented on #66
Hi @rptxcosmo.

I don't really see a value in this feature. Secrets aren't displayed on your screen in Vault-UI unless you click it. It feels like this would just add unnecessary actions for the user.

Did you have a specific use case where this is important?

[2017-03-08 08:11] djenriquez commented on #67
Sounds like some sort of sorting would be helpful. We'll take a look.

[2017-03-08 08:21] Lucretius commented on #67
Don't have the project running, but if `this.state.secretList` in the `Generic.jsx` file is just an array of strings, then this should be as simple as just changing this:

https://github.com/djenriquez/vault-ui/blob/master/app/components/Secrets/Generic/Generic.jsx#L361

[code]

to

[code]

[2017-03-08 09:24] alexunwin commented on #67
I think sorting should be chosen, not just defaulted. It seems like a good feature to have that is selected upon not defaulted to a particular type. Having the ability filter on different aspects such as time, creator, or  purpose, may be an option.

[2017-03-08 09:28] alexunwin commented on #66
I agree with @djenriquez. I am not sure the need of this feature

[2017-03-08 10:09] rptxcosmo commented on #66
It's mainly for privacy purpose :
When you are for example in an open space, everybody can see your screen.

[2017-03-09 07:00] djenriquez commented on #66
Ah I think I get what you're asking, instead of opening the secret, have the ability to just copy the value behind the secret. This way the value is in your clipboard, but the value was never shown in the screen. Is this accurate?

[2017-03-09 08:27] rptxcosmo commented on #66
Yes, that's the idea. :)

[2017-03-10 18:50] rptxcosmo opened #68 "Custom wrap lifetime"
Be able to set a custom value for wrap lifetime.

[2017-03-13 08:59] uziyossef opened #69 "using self signed ssl cert"
The UI return 504 from the vault. and log is full with (node:32) UnhandledPromiseRejectionWarning: Unhandled promise rejection (rejection id: 64): TypeError: Cannot read property 'status' of undefined

Error: Request failed with status code 504

[2017-03-13 16:37] djenriquez commented on #69
Hi @uziyossef, can you update us with what version Vault you are using?

[2017-03-14 14:03] uziyossef commented on #69
Hi,

I'm using Vault v0.6.5 ('5d8d702f33b5fd965cbe8d6d0728295de813a196')

Thanks.

Uzi

________________________________
From: DJ Enriquez <notifications@github.com>
Sent: Monday, March 13, 2017 6:37 PM
To: djenriquez/vault-ui
Cc: Uzi Yossef; Mention
Subject: Re: [djenriquez/vault-ui] using self signed ssl cert (#69)

Hi @uziyossef<https://github.com/uziyossef>, can you update us with what version

[2017-03-15 04:42] msessa commented on #66
The issue is secrets are not simply values, they are full JSON objects. So how do you choose which field to copy?

An option would be to enable this functionality only when the _root key_ bias is applied

[2017-03-15 04:43] msessa commented on #68
This is a legitimate request but not high on my priority list at the moment. PR are welcome tho.

[2017-03-15 10:09] mcinquin opened #70 "Ability to add a name to a token"
Hello,

Can you add the ability to add a name when creating a token? (-display-name="name" parameter for vault token-create command)
This would make it possible to differentiate the tokens in the list with the field " Display name".

Regards.

[2017-03-15 10:16] msessa commented on #70
Hi @Shini31,

I belive this functionality is already implemented in vault-ui v2.0.

In the NEW TOKEN dialog:
![image](https://cloud.githubusercontent.com/assets/1912143/23943755/a1205384-09c4-11e7-810b-d1c050270ca2.png)

[2017-03-15 15:22] mcinquin commented on #70
I misunderstood myself. This is when you create a token from a role
![capture du 2017-03-15 16-21-40](https://cloud.githubusercontent.com/assets/333820/23955909/8b2f78da-099b-11e7-9f27-4d2937b53d24.png)

[2017-03-15 23:26] msessa commented on #70
Got ya. I'll put this in my TODO list.

[2017-03-16 02:04] djenriquez commented on #70
@Shini31 I encourage you, if you can, to submit a PR. We could definitely use more contributors.

[2017-03-16 02:05] djenriquez commented on #69
Sorry, @uziyossef, can you also share the version of Vault-UI you are experiencing this with?

[2017-03-16 02:06] djenriquez commented on #67
@alexunwin @Lucretius you guys time to try to get this going?

[2017-03-16 08:28] mcinquin commented on #70
@msessa-cotd  Thanks !

@djenriquez It would have been great but coding is not my cup of tea :)

[2017-03-21 17:26] nickwales opened #72 "OKTA authentication backend"
Hashicorp just realeased vault 0.7 with okta support. Would be a great enhancement to the UI!

https://www.vaultproject.io/docs/auth/okta.html

[2017-03-22 16:09] nickwales opened #74 "Splash screen images broken"
Hey, looks like hashicorp changed up their website and now the V on the vault UI splash screen is missing!

[2017-03-22 16:21] Lucretius commented on #74
This is what I get for "borrowing" an image 🤦‍♂️

[2017-03-22 18:58] djenriquez commented on #74
Hotfix @Lucretius go!

[2017-03-22 23:55] msessa commented on #74
Any chance we can get a custom logo for the project? ;)

[2017-03-23 02:30] djenriquez commented on #74
Hmmm, that sounds like a great idea, though, im not an artist myself. I'll look/ask around if others want to do the same =)

[2017-03-24 03:16] wgx731 commented on #74
Hi guys, I have update the link at #73, please help to review if it's OK.

Thank you very much.

[2017-03-25 07:34] djenriquez commented on #74
Fix: https://github.com/djenriquez/vault-ui/pull/75

[2017-03-25 07:34] #74 closed, assigned to nobody

[2017-03-25 08:36] djenriquez commented on #72
In progress: https://github.com/djenriquez/vault-ui/tree/feature/okta-backend

[2017-03-25 21:13] djenriquez commented on #72
hi @nickwales

It looks like the Vault is treating Okta authentication like a typical username/password auth type, which makes the login portion simple _AFTER_ figuring out how that information is passed in from Okta to begin with. Unfortunately, I do not use Okta, so I'm unsure how Okta would be configured to do this. Do you know the details on what information is passed from the Okta app and how

[2017-03-26 17:50] Lucretius commented on #67
I actually just dug into this - looks like the JSON package being used already contains the ability to sort secrets alphabetically in either ascending or descending order:

![screen shot 2017-03-26 at 10 48 03 am](https://cloud.githubusercontent.com/assets/2498352/24333711/c8c79c3a-1211-11e7-9b46-04d6dc66e9fc.png)

![screen shot 2017-03-26 at 10 49 14 am](https://cloud.githubusercontent.com/assets

[2017-03-27 06:36] MatthiasKuehneEllerhold commented on #67
Could you please add sorting for the list of secrets too?

[2017-03-29 14:11] uziyossef commented on #69
Hi, Issue was resolved we had issues with the network configuration.
Thanks !

[2017-03-29 14:11] #69 closed, assigned to nobody

[2017-03-30 10:25] PhillippOhlandt commented on #42
@msessa seems like vault 0.7.0 still has no support for CORS, or did I miss something?

[2017-03-30 11:59] msessa commented on #42
You are correct. New milestone is 0.7.1

[2017-03-30 12:04] msessa commented on #42
We're devising some strategies to work around the problem in the meantime

[2017-03-30 12:39] PhillippOhlandt commented on #42
@msessa I am building my own client at the moment. I used nginx as a workaround.

[2017-03-31 08:23] Lucretius commented on #52
Found this gathering dust at the bottom of the issue bin and decided to have a go at it.

I've created a branch with the following:

![screen shot 2017-03-31 at 1 18 20 am](https://cloud.githubusercontent.com/assets/2498352/24542316/09d2622c-15b0-11e7-8c95-c10c029def12.png)

If no difference is found you just get

![screen shot 2017-03-31 at 1 21 40 am](https://cloud.githubusercontent.com/assets/2

[2017-03-31 15:41] msessa commented on #42
this issue has been addressed in #85 by making vault-ui a client-side desktop app

[2017-04-01 02:53] msessa commented on #67
Fixed in #82

[2017-04-01 02:53] #67 closed, assigned to Lucretius

[2017-04-01 02:53] msessa commented on #68
Fixed in #83

[2017-04-01 02:53] #68 closed, assigned to Lucretius

[2017-04-02 15:27] theduke opened #86 "Feature Request: add password generator"
It would be neat to have a random password generator included in the UI when adding a secret.

[2017-04-02 18:43] theduke opened #87 "Manage userpass users?"
Apparently it's not currently possible to manage users of the userpass auth backend.

Is this correct or do I need to configure something?

[2017-04-03 21:24] matthewmrichter opened #88 "Token can't get Secret/Auth backends - but policy seems correct?"
I'm logging in with LDAP and attempting to give my authorized LDAP users basically full rights to as much as possible in vault-ui. I added the policies that vault-ui is requesting for sys/mounts and sys/auth. The `admin` policy which my LDAP users get has the following:
[code]

[code]

However, I am still getting the "Your token doesn't have permissions" messages for both secret and auth. I restar

[2017-04-03 21:33] djenriquez commented on #88
Just reading this real quickly, I think what you're missing is the capability `list` on `sys/mounts`.

This should read:
[code]

Give that a shot, then make sure you disable or clear your cache since policies are cached in vault-ui.
![screen shot 2017-04-03 at 2 37 14 pm](https://cloud.githubusercontent.com/assets/4636740/24633002/2cc17bec-187b-11e7-8ae3-f4836f346a28.png)
Otherwise if that doesn't

[2017-04-03 21:43] djenriquez commented on #87
This is correct @theduke, this should be an easy one to add though, so expect it soon 👍

[2017-04-04 01:40] msessa commented on #88
Hi @matthewmrichter,

Vault-UI makes extensive use of the `sys/capabilities-self` endpoint to determine permissions around the app.

Please make sure your user is given the `default` policy or add this capabilities to your base policy:
[code]

[2017-04-04 02:22] matthewmrichter commented on #88
I made these changes:

[code]

Now I can see my secrets and policies, thanks! Maybe worth adding the `capabilities-self` one to the helper thing that pops up?

[2017-04-04 03:27] msessa commented on #88
@matthewmrichter good to hear. Yes good idea I'll update the helper message.

Btw, I don't think you need the "list" capability at all on those paths.

[2017-04-04 03:54] msessa commented on #88
Easy change. Pushed to master

[2017-04-04 03:54] #88 closed, assigned to nobody

[2017-04-06 01:20] Ginja opened #89 "Login Error"
First off, thanks for open sourcing this! Looks great.

I seem to be unable to use this to log into our Vault servers. I've tried running it locally & in our Nomad scheduler. AFAICT, the app doesn't seem to be submitting my credentials to Vault. And all the logs give me is this:

[code]

I'll try to debug this further, but I was wondering if you have any suggestions?

[2017-04-06 01:40] msessa commented on #89
Hi @Ginja,

What's the URL of your vault server?
Is it HTTPS?
Are you using self-signed certificates?

[2017-04-06 01:44] Ginja commented on #89
Hi @msessa,

It would be it's Consul DNS address `vault.service.[datacentre].consul`, and yes, it's being served via HTTPS. I've also tried specifying the FQDN of one of our Vault servers. The NGINX serving Vault is using a self-signed cert, but I have configured all of our nodes to trust the signing CA. The certificate also has the appropriate SANs to cover the FQDNs, & Consul's DNS name.

[2017-04-06 02:12] msessa commented on #89
It's worth trying to set the `NODE_TLS_REJECT_UNAUTHORIZED=0` environment variable for the vault-ui node server container.

Alternatively run this image:
`msessa/vault-ui:dev`
it contains a fix for that _Unhandled promise rejection_ issue to give you more insight on the error

[2017-04-06 03:57] Ginja commented on #89
Using your dev container and setting the environment flag did the trick! Going to look at how I could add my CA to node's trusted store. Perhaps setting `NODE_EXTRA_CA_CERTS`.

When can we expect the fix for the `Unhandled promise rejection` issue to make it into master?

Thanks again!

[2017-04-06 04:14] msessa commented on #89
So what fixed the issue was the environment variable. I suggest you look up how to provide a custom CA certificate to nodejs if you plan to sign the vault SSL cert with your own PKI.

The dev image from my repo doent fix the root cause it just allows the error message to be displayed on the UI

[2017-04-06 05:03] Ginja commented on #89
Will do.

Oh, got it. Handy improvement!

Closing issue.

[2017-04-06 05:03] #89 closed, assigned to nobody

[2017-04-07 01:00] Ginja opened #90 "Handling 307 Redirects"
I've noticed that in a cluster setup (i.e. two Vault servers, one is active the other is passive) Vault-UI doesn't seem to handle the 307 redirects when it hits the passive instance. The UI seems to stall at whatever it was trying to do and it sometimes returns a `Network Error` message. I can verify this by pointing it directly at the passive instance and watching the logs:

[code]

I'd like to b

[2017-04-07 04:42] msessa commented on #90
I'll look into it soon

[2017-04-07 17:34] msessa commented on #90
This is caused by an issue with the axios dependency `follow-redirects==1.0.0` which loses the request data when following a redirect.
It has been fixed in this release:
https://github.com/olalonde/follow-redirects/releases/tag/v1.1.0

Can you please try to run:
`msessa/vault-ui:issue90`
and let me know if it works?

it's a custom vault-ui image that overrides the dependency version of `follow-red

[2017-04-07 19:33] donspaulding opened #91 "Expose vault's /auth/token/renew-self via vault-ui"
Hi vault-ui devs.

We're happily using vault-ui to front all of our vault interactions, so for the most part, we don't use the CLI.  But I notice one area of the API which the CLI has a wrapper for and which vault-ui doesn't, namely: the [`/auth/token/renew-self`](https://www.vaultproject.io/docs/auth/token.html#auth-token-renew-self) endpoint.

Is this something that has been given any considerat

[2017-04-07 23:15] msessa commented on #91
Hi @donspaulding,

Vault-UI allows you to renew your token 2 minutes before expiry. At that point it will automatically open a dialog like this:
![image](https://cloud.githubusercontent.com/assets/1912143/24822833/c2aa0458-1c3b-11e7-9c0a-bee8b30ba42a.png)

and the _RENEW_ button will call `/auth/token/renew-self`.

Do you have a different approach in mind?

[2017-04-08 08:06] djenriquez commented on #90
Interesting. We run a similar setup at my workplace and we point Vault-UI at a loadbalancer to Vault, 3 servers behind, 1 active managed HA by Consul. Vault-UI hits passive instances all the time and never experiences issues. Are you seeing these errors just in the logs or is it disrupting the use of the UI also?

If so, what version of Vault-UI and Vault are you running?

[2017-04-08 08:10] msessa commented on #90
@djenriquez It might be because your cluster is using server-to-server communication so a request to a standby will be forwarded by vault itself to the master instance.

This issue happens when vault uses the old forwarding method which is to send back a 307 temp redirect status code for the client to handle.

You can ask vault to force falling back to this behaviour by setting the `X-Vault-No-Req

[2017-04-08 17:04] djenriquez commented on #90
Understood. Sounds like you already have a fix in the works @msessa?

[2017-04-08 18:47] Ginja commented on #90
Thanks for looking into this so quickly. I'll try testing the fix sometime this weekend.

[2017-04-10 10:47] rptxcosmo opened #92 "Add ability to share, (wrap), all secrets from a folder"
- Currently, if you want to share every secrets from a folder, you have to wrap each secret.
- Could you add the ability to share all secrets from a folder ?

[2017-04-10 10:49] rptxcosmo commented on #67
Good job !

[2017-04-10 10:50] rptxcosmo commented on #68
Thanks !

[2017-04-10 19:03] Ginja commented on #90
@msessa tested `msessa/vault-ui:issue90`. Redirects are now being followed.

👍 nice work!

[2017-04-10 22:52] msessa commented on #90
Good to hear. I'll open a PR soon

[2017-04-11 03:22] djenriquez commented on #92
@rptxcosmo This feature is not something the UI will do for now. It can be done, but if there are thousands of secrets in a namespace, which some companies have, such an operation could be detrimental to the Vault server. Now, if HashiCorp releases a batch call feature, then maybe we can revisit. Until then, this operation can cause more harm than provide value, so we'll not do this for now.

[2017-04-11 03:22] #92 closed, assigned to nobody

[2017-04-11 04:03] msessa commented on #90
We're lucky.

Axios just released 0.16.1 with updated `follow-redirects` dependency:
https://github.com/mzabriskie/axios/blob/v0.16.1/package.json#L75

No need for nasty overrides.

[2017-04-11 04:24] msessa commented on #90
Bumped up axios version in master.

This fix will be released in the upcoming vault-ui 2.1.1 bugfix release.
In the meantime you can use the `:latest` docker image tag

[2017-04-11 04:24] #90 closed, assigned to nobody

[2017-04-12 01:24] djenriquez commented on #66
I agree with @msessa's, not sure how we would implement this for full JSON objects. Our priority at this point is to represent full Vault functionality before adding these nice features. We will gladly review PRs for this if the community would like to submit one, but for now, won't be able to design/implement this.

[2017-04-12 06:55] djenriquez commented on #87
@theduke please take a look at https://github.com/djenriquez/vault-ui/pull/94 if you're curious on the implementation. Once approved, it'll be available on the `latest` image.

[2017-04-13 05:58] StyleT opened #95 "Distribute desktop binaries"
Currently as far as I understand to run application in "desktop" mode you need to run `npm install && npm run desktop`. It would be much better to ship ready to use binaries with each release here https://github.com/djenriquez/vault-ui/releases

P.S.: Thank you for this awesome project! True game changer!

[2017-04-13 06:03] StyleT opened #96 "Ability to unwrap token on "Data wrapper" page"
Currently it's only possible to wrap some data on the "Data wrapper" page. After wrapping it returns "unwrap" url which is really useful for web app but not for the desktop variant. It would be great to have an ability to paste existing token below "Response wrapping" section & receive original data.

[2017-04-13 06:12] msessa commented on #96
Good suggestion. I should be able to implement this during the weekend.

[2017-04-13 06:14] msessa commented on #95
Hi @StyleT,

Binaries for Win/Mac/Linux will be published along with official releases but atm we're still drafting v2.1.0.
Expect this very soon.

[2017-04-13 06:14] #95 closed, assigned to nobody

[2017-04-13 07:09] djenriquez commented on #87
@theduke userpass management is now available in the `latest` image. Expect this feature to be released as part of 2.1.0, just waiting on one other change before that release.

[2017-04-13 07:09] #87 closed, assigned to nobody

[2017-04-13 11:53] theduke commented on #87
Nice, thanks for the work.

[2017-04-14 15:43] nocode99 opened #97 "Self-Signed TLS Cert"
There doesn't seem to be any option to either pass in a SSL Cert or to ignore TLS to the Vault host.  I have a self signed cert that was created through Vault and not sure how I can pass in the key or ignore TLS.

Thanks!

[2017-04-14 17:08] ketchoop opened #98 "Question: Is there any way to use consul secret backend?"
Is there any way to use consul secret backend or other HA backends? I couldn't find out how to do this through this ui.

[2017-04-14 17:22] ketchoop commented on #98
Sorry. My bad. Just gave myself wrong permissions:)

[2017-04-14 17:22] #98 closed, assigned to nobody

[2017-04-14 18:12] nocode99 commented on #97
Came across your docker-compose where you can have node ignore TLS.  I'm using that for now

`NODE_TLS_REJECT_UNAUTHORIZED=0`

[2017-04-18 05:28] fia5000 opened #99 "Search/Filter Keys"
It would be perfect if we could search/filter keys in the respective interface for a given back-end.

[2017-04-19 18:48] donspaulding commented on #91
My user-level tokens have a default TTL of 30 days.  I was thinking it would be helpful to have a "Renew Current Token" button somewhere which would allow for a pre-emptive call to `/auth/token/renew-self` at any point prior to expiration.  For a 30-day TTL, the chances that I happen to be logged into Vault UI in the exact last 2 minutes of the token's lifetime are very low.  For my use case, it m

[2017-04-20 00:30] travis-bear opened #100 "unable to browse cubbyhole secrets"
From the CLI I created some cubbyhole secrets for a given token.

When logging in to vault-ui using that same token, unable to see anything in cubbyhole

[2017-04-20 04:21] djenriquez commented on #100
Hi @travis-bear,

Vault-UI currently doesn't support showing the cubbyhole backend. We can add this to the list of next features to produce. For now, the only secrets backend we support is `Generic`. You can see a list of all the available ones [here](https://www.vaultproject.io/docs/secrets/index.html). We hope to support all of them one day.

If you are interested, or even curious, we would love

[2017-04-20 04:24] djenriquez commented on #99
Yea, I agree, there are a few times I wish we had this feature. Expect some kind of solution for this in the near future.

[2017-04-24 14:38] powellchristoph opened #101 "Confirmation of secret change - Feature request"
First off, great job! I really appreciate the work. Would it be possible to add a confirmation when changing a secret? It seems too easy to accidentally overwrite a secret. This might be more my use case than others, but I have a lot secrets that just get read and I want to avoid them being inadvertently changed when a user is copy/pasting them.

Two ideas:
1) Just a simple confirmation box before

[2017-04-24 15:45] powellchristoph opened #102 "Secret Backend Description in UI - Feature request"
The `vault mount` supports a description `-description=<desc>` field.

It would be great if we could get that description in the UI header, perhaps under the "Browse secrets" text currently there or in place of the "Here you can browse, edit, create and delete secrets" text.

[2017-04-24 16:53] djenriquez commented on #101
Nice suggestions! I think the request is valid. I do want to note our main goal however, which is to gain parity first with the Vault CLI. This means adding support for the many other secret and authentication backends. Of course, this doesn't mean we can't squeeze things in, but the request would be a little further down the list.

If someone in the community beats us to this feature, that would

[2017-04-24 17:20] djenriquez commented on #101
Thinking back on this, we could make this a configuration setting per user, such that, if enabled, there will be a confirmation window. This way, users can decide if they want the additional warning or not. This would be identical in practice to the current configuration setting for "deletes".

And given that this feature already exists, it shouldn't be too difficult to implement, maybe easy enoug

[2017-04-25 08:56] StyleT opened #103 "Wrong /v1/sys/capabilities-self HTTP method"
Use POST instead of GET accordingly to the https://www.vaultproject.io/api/system/capabilities-self.html. Vault 0.7.0 returns 405 HTTP code `{"errors":["1 error occurred:\n\n* unsupported operation"]}`.

[2017-04-25 19:11] djenriquez commented on #103
Thanks for the catch @StyleT, should be a quick fix.

[2017-04-25 19:57] stephansnyt commented on #97
So far I'm experimenting with the linux app image but I'd like to be able to do this in the docker image, too.

On my system I have added my internal certificate authority to my local trust. The appimage does not seem to pick that up. In other words I can `curl https://my-vault` and that self-signed cert verifies just fine, but the appimage warns me that "The validity of the TLS connection with th

[2017-04-26 03:11] djenriquez commented on #103
@StyleT Vault-UI is using `POST` and not `GET`: https://github.com/djenriquez/vault-ui/blob/master/app/components/App/App.jsx#L123 and https://github.com/djenriquez/vault-ui/blob/master/app/components/shared/VaultUtils.jsx#L83 which are the only two places in the entire project this is called, where are you seeing this bug?

[2017-04-26 03:13] StyleT commented on #103
@djenriquez I've seen it in OS X app https://github.com/djenriquez/vault-ui/releases/download/2.1.0/Vault-UI-2.1.0-mac.zip Yesterday I've also noticed what you're saying. Let me check...

[2017-04-26 03:20] StyleT commented on #103
Here is what I see: http://imgur.com/a/LSzrJ

[2017-04-26 03:25] StyleT commented on #103
@djenriquez Looks like I've found the root cause. Try to add slash to the end of the server address. So specify `https://vault.example.com/` instead of `https://vault.example.com`. In this case on your POST request you'll receive 301 redirect (app will request `https://vault.example.com//v1/sys....`) which causes 2nd GET request.

[2017-04-26 03:28] msessa commented on #103
Interesting. Thanks for digging out the root cause. I'll take a look at it, one quick solution would be to parse the URL before saving it in the localStorage so all trailing slashes and extra components are stripped away

[2017-04-26 03:30] StyleT commented on #103
@msessa Also you can use https://www.npmjs.com/package/url-join to concat URLs. It will take care about slashes.

[2017-04-26 04:48] djenriquez commented on #102
@powellchristoph check out PR: https://github.com/djenriquez/vault-ui/pull/105

[2017-04-26 06:45] msessa commented on #100
Adding support for cubbyhole is pretty trivial as it fully shares the API interface with the generic secret backend.

However I'm perplexed on whether this functionality would bring any practical value to Vault-UI.
According to the official documentation:
[code]
At this time, cubbyhole is only used internally by vault to implement wrapping.

What would be a use case for having cubbyhole support in

[2017-04-26 07:54] msessa commented on #96
Just an update.

This was a bit tricky to implement but I have a solution almost ready. Will elaborate more on the PR

[2017-04-26 15:00] powellchristoph commented on #102
@djenriquez Thank you for the quick response. I understand the technical limitations and project priorities. This would be a nice to have feature, but I completely understand if it doesn't fit in the project scope at the moment.

[2017-04-26 18:02] travis-bear commented on #100
This might be a noob question, but wouldn't it be desirable to keep your stuff in `cubbyhole` instead of `secret` if you didn't want it to be possible for vault admins to read your secrets?  In this scenario they could be compelled to turn your secrets over to third parties.

[2017-04-26 21:40] djenriquez commented on #100
No ignorance at all. I believe @msessa's point is the fact that cubbyhole is tied to a token: in best-practices, tokens are supposed to be short-lived. So if you stored secrets in your cubbyhole and your token expires or is revoked, your secrets are gone with them.

[2017-04-27 02:53] #99 closed, assigned to nobody

[2017-04-27 23:12] ryan-mf opened #107 "Running in Kubernetes with an nginx-based reverse proxy"
Hi,

I'm trying to run this awesome tool in a Kubernetes POD along with containers for vault and nginx. Because (I don't believe) vault-ui supports using SSL (just clear HTTP) and because this will be hosted off-prem, we will be ACL-restricted (by IP) access to the tool *and* sticking nginx in front of vault-ui to act as an SSL frontend (port 443) and proxy to vault-ui in clear HTTP (on localhost

[2017-04-28 03:33] djenriquez commented on #107
Hi @ryan-mf, that is a very common pattern for enabling TLS. Feel free to share your config and please redact any sensitive information.

[2017-04-28 16:15] D-RVLx opened #109 "Listing many secrets freeze the browser"
Hi,

When the list contains more than 200 items, the browser hangs up.
I did some tests and It seems that user experience stay normal under 200 items, above this limit is hardly usable. (listing 5000 items with CLI or directly with API is OK)
Would it possible to add a function to deal with this problem, like pagination or list size limit?

Thanks,

[2017-04-28 16:23] djenriquez commented on #109
Hi @Garath620, we will definitely look into this. Currently Vault-UI utilizes Vault's `list` method at a particular namespace to generate the list of secrets. I'm not sure if the API allows us to limit the number of items returned with some pagination token. If so, this will be an easier fix than any alternatives.

Also, since Vault-UI is dependent on making restful calls to Vault, one area of imp

[2017-04-28 16:24] djenriquez commented on #109
Ah, I see that you said the CLI lists fine. It's likely needing an optimization then with handling the returned data.

[2017-04-28 20:35] ryan-mf commented on #107
Hi @djenriquez, thanks for offering to take a look. Here are my configs with anything sensitive redacted:
The Kube "service" for the vault POD:
[code]

The Kube "POD" for Vault and related components. The POD contains vault, vauilt-ui, and google's nginx ssl proxy container. The service above exposes vault directly on the Internet on port 8200 with a valid letsencrypt-based SSL cert, with an ACL p

[2017-04-28 20:44] ryan-mf commented on #107
And by putting all of this info together, I might have found the issue myself: The backend target *port* isn't making it into the nginx config! It just says:
[code]

So, port 8000 is missing, so nginx is probably defaulting to port 80 which means it keep redirecting itself.

That means something is wrong with my nginx container startup script that's failing to add the port number correctly. Invest

[2017-04-28 22:54] ryan-mf commented on #107
I found the issue! We historically used docker build locally to build our containers, but recently started moving to master commit triggers in Google Container Builder to build our containers for us. Bad news, I found the issue *only* happens if I use container tags that were built on GCB. It's like bash in alpine behaves differently. Maybe GCB has cached something very old? If I build the contain

[2017-04-29 01:04] djenriquez commented on #107
Interesting, I'm glad you got it working, but the things I did notice are:

You've already found this:
[code]

And
[code]
should be
[code]

`proxy_redirect          http:// https://;` also seems unnecessary as no http requests should be entering here.

Odd that the image from GCR doesn't work but locally pushed ones are.

Anyway, glad its all working. Feel free to close the issue unless you're sti

[2017-04-29 01:10] ryan-mf commented on #107
The difference in ssl is fine afaik, two ways to do it.

proxy_redirect I believe rewrites *response* packets from the server before exiting the proxy to ensure the backend application's HTTP responses are converted to HTTPS.

[2017-04-29 07:43] djenriquez commented on #109
Got a fix for you here, hopefully @Garath620: https://github.com/djenriquez/vault-ui/pull/110

Just need a quick review and I'll merge in. Feel free to test from the branch, otherwise it should be available in `:latest` soon.

[2017-04-29 08:24] #107 closed, assigned to nobody

[2017-04-29 08:40] ryan-mf opened #111 "TLS handshake error with Vault 0.7.0"
I've got my Kube POD all running with Vault, Vault-UI, and an nginx-based SSL proxy. I'm using a valid Lets Encrypt-based cert in Vault, and I can remotely talk to Vault (exposed on default port 8200) with the CLI. I was able to init, unseal, configure github auth and related group/policy, and auth with my github access key, all from the Vault CLI remotely (from a trusted IP I'm permitting into th

[2017-04-29 18:20] djenriquez commented on #111
Hi Ryan,

The issue you're describing as you probably know is the communication between Vault-UI and Vault itself. The "NODE_TLS_REJECT_UNAUTHORIZED=0" only affects Vault-UI, which appears to be working fine for you since you are able to load to the login page without any certification warnings.

I think I see what's happening: in order to communicate with Vault, requests must be sent to the FQDN

[2017-04-30 06:00] ryan-mf commented on #111
Hi @djenriquez,

Hm, I had thought "NODE_TLS_REJECT_UNAUTHORIZED" was meant to tell Vault-UI to not care if it can't verify Vault's SSL certificate. I've already given Vault-UI a valid SSL cert so if NODE_TLS_REJECT_UNAUTHORIZED is meant to affect behavior between client (browser) and Vault-UI, then I don't need it.

So, yes, what matters is comms between Vault-UI and Vault. I need Vault-UI to not

[2017-04-30 07:32] ryan-mf commented on #111
@djenriquez I found it!

In the Kube POD config, I have:
[code]
However, I realized that when I load the Vault UI right after start, if I click the "gear" icon, it says the Vault server is "http://localhost:8200". Notice that it's http instead of https? It seems like it's re-writing the protocol from https to http when the container starts despite what my VAR is set to.

If I correct it to 'https'

[2017-04-30 07:47] djenriquez commented on #111
Hi Ryan, you know I realized I was incorrect regarding something in my response: `NODE_TLS_REJECT_UNAUTHORIZED=0` does handle requests to Vault and basically verifies that the certificate to Vault is valid, FQDN should not matter...

I actually did a test with our Vault deployment and modified my host file to have localhost resolve to our Vault deployment, then ran Vault-UI against it with `NODE_T

[2017-04-30 07:47] msessa commented on #111
@ryan-mf

The value of `VAULT_URL_DEFAULT` is only used by vault-ui when no configuration has been saved in the client's browser's local storage. (ie. on first access).

The ability to disable manual configuration of server address/auth method is in the roadmap but for now it's a user-configurable parameter

[2017-04-30 07:52] djenriquez commented on #111
Ah, it looks like I posted the last comment a little late.

Yes, as @msessa stated, you might have had `http` cached in your browser, which overrides whats stored in `VAULT_URL_DEFAULT`. That env var will be helpful for first time users, but users have the ability to modify these settings such modifications are stored locally in the browser. A good way to check is to clear your cache, or run in in

[2017-04-30 18:34] djenriquez commented on #109
@Garath620 the fix has been pushed to `:latest`, please give it a shot and let me know how its working for you.

[2017-05-01 17:59] ryan-mf commented on #111
@djenriquez and @msessa ah, yes, that would explain it, thanks. The first time I tried accessing the UI I still had the VAR set to http not https, I only changed it a bit later.

Ok, I'll just make sure our internal docs are clear about checking this before trying to login the first time.

Thank you both!

[2017-05-01 17:59] #111 closed, assigned to djenriquez

[2017-05-02 09:28] D-RVLx commented on #109
@djenriquez It works. Thank you!
I can browse a page of 5000 items without problem.

[2017-05-02 09:29] #109 closed, assigned to djenriquez

[2017-05-05 00:00] sasso commented on #72
I'll work on implementing okta! Give me a day or two and I can come up with a PR

[2017-05-05 20:30] iamsaso commented on #72
@djenriquez how far are you with Okta? We use okta so I can help

[2017-05-05 22:06] djenriquez commented on #72
Feel free to work from my branch, it's actually almost complete. It's a good representation of what you can do from vault CLI, which enables it for Vault, but not the UI. There are likely other magical aspects that need to be implemented to have it work to auto authenticate with the UI.

DJ Enriquez

[2017-05-05 22:08] iamsaso commented on #72
@djenriquez I created a new PR https://github.com/djenriquez/vault-ui/pull/116 (added Okta to login screen and rebased) It works perfectly. Only thing that It's missing is the MANAGE GROUPS. Did you have any ideas how you would like to have it?

[2017-05-05 23:10] djenriquez commented on #72
Hmm I have no strong opinions on how to implement it other than the experience and UI flow should be similar to the other authentication backends.

DJ Enriquez

[2017-05-06 18:28] maksimlikharev opened #118 "load, create/update, secret from json file"
loading secret from json file will aid bulk secret additions and migration process

[2017-05-08 17:31] matthewmrichter opened #119 "Improve error logging"
Had this set up about a month ago and was able to log in fine no problem, using our AD LDAP servers for the auth backend. Did a redeploy 2 weeks ago and since then, when I enter my AD name and password, then hit enter, nothing happens on the UI and I get the below in stdout:

```(node:30) UnhandledPromiseRejectionWarning: Unhandled promise rejection (rejection id: 4): TypeError: Cannot read proper

[2017-05-08 20:46] matthewmrichter commented on #119
I'll close this as it appears I was using the wrong marathon template to deploy. Maybe an opportunity to enhance error logging.

[2017-05-08 22:23] djenriquez commented on #119
Sounds good @matthewmrichter, I'll reopen the issue to track progress of the improved error logging.

[2017-05-10 06:15] D-RVLx opened #120 "Sorting secret and pagination"
Hello,

Since the pagination feature is built in, I notice that ascending or descending sorting is not applied to the entire list.

[2017-05-11 22:04] djenriquez commented on #91
@donspaulding This feature has been merged in with https://github.com/djenriquez/vault-ui/pull/114. Please verify with the latest image in docker hub and close if all is good.

[2017-05-11 23:22] idubinskiy opened #121 "Support for AWS IAM Auth options"
Vault 0.7.1 added some features to the `aws` auth backend (formerly `aws-ec2`) allowing for authentication of roles based on IAM without being tied to EC2. This mostly affects the parameters that can be set on a role, but also includes a new option for a header value that must be sent in IAM auth requests. Vault-UI should support these new options.

[2017-05-12 00:41] djenriquez commented on #121
Thanks @idubinskiy. I'm sure many will find this feature most helpful. I'm currently on vacation and will be back on the 15th, so I may not get to it right away, but this shouldn't be too difficult to add on.

If someone in the community gets to this before I do great, otherwise expect this in soon.

[2017-05-15 21:22] aaronhurt commented on #29
Having a very similar issue.  We use path-based routing for nearly all of our backend services and dynamically generate the load balancer config from consul.  I'm registering the `vault-ui` container in consul but noticed that the application wants to use absolute `/` paths instead of appending the path sent by the load balancer.

[2017-05-16 15:29] djenriquez commented on #29
@leprechau can you post an example of what is going on and the load balancing config that you have if possible? Are you using HAProxy or NGINX?

Vault-UI has successfully been running on many different variations of load-balancing and reverse proxying, even path based routing.

[2017-05-16 15:36] aaronhurt commented on #29
@djenriquez I'm accessing vault-ui from `https://domain.foo/vault-ui/` via HAProxy.   Example HAProxy config below ...

In main section:
[code]

Backend configuration:
[code]

The issue is that `vault-ui` itself loads scripts and resources with absolute paths such as `/dist/` that won't work through the load balancer as it is not looking for that path.  The application would need to use relative p

[2017-05-16 16:48] ghost opened #123 "New Secret does not pull up tree editing view"
When I click "New Secret" on the generic secret backend, I only get a simple prompt to enter a key and a value, but do not get the expanded editor used for editing a tree of values. If I click on a multi-key secret added outside of Vault UI I do get the tree view.

Vault-UI version 2.1.0 desktop
Vault version 0.6.1

[2017-05-16 21:07] djenriquez commented on #123
hi @rvangundy

It sounds like you have the `Root Key Bias` applied. In your navigation bar, click on Preferences, then uncheck "Use Root Key". If this isn't the case, please let us know 😄

[2017-05-16 21:36] djenriquez commented on #29
Thanks for the info @leprechau, we'll take a look. @Lucretius @alexunwin

[2017-05-17 17:37] djenriquez commented on #91
Closing this as feature request has been satisfied. If it hasn't, feel free to reopen.

[2017-05-17 17:37] #91 closed, assigned to djenriquez, alexunwin

[2017-05-18 14:03] devth commented on #97
+1 - need to be able to specify CA bundle to establish trust when hitting remote `vault:8200` from vault-ui.

[2017-05-18 15:27] djenriquez commented on #97
@stephansnyt @devth

I'm a little confused, are you guys having issues with TLS in the docker image deployment? By setting the env var `NODE_TLS_REJECT_UNAUTHORIZED=0`, Vault-UI will communicate with Vault properly with self-signed or even invalid certs. This is equivalent to running `-tls-skip-verify` with the Vault CLI.

[2017-05-18 15:38] devth commented on #97
Yes, it works with `NODE_TLS_REJECT_UNAUTHORIZED=0`, but I need to keep TLS enabled. Super important when communicating secure data over the wire Vault.

Also need to be able to serve `vault-ui` itself over TLS with self-signed certs for the same reason.

[2017-05-18 15:58] djenriquez commented on #97
Ah gotcha. If you are able to hit Vault with TLS enabled just fine through the CLI, then Vault-UI will also work. Both the Vault CLI and UI communicate to vault in the same manner, through Vault's RESTFUL API.

As far as TLS securing Vault-UI, currently the recommended method is by adding a TLS terminating load balancer in front and having that perform the termination, then reverse proxy over to V

[2017-05-18 16:01] devth commented on #97
Got it, thanks. Reverse proxy might be a valid solution from a security perspective.

[2017-05-19 11:38] stephansnyt commented on #97
`NODE_TLS_REJECT_UNAUTHORIZED=0` and `-tls-skip-verify` are insecure and you should stop asking anyone to do that, ever! Only people who know what they're doing should do this. You should not even mention this to people who are looking for basic help. At the very least, loud and obnoxious warnings that this is insecure, should only be used for dev/test, and not suitable for production.
`

Through

[2017-05-19 16:01] djenriquez commented on #97
@stephansnyt

I most definitely agree that TLS ignore should never be enabled, but unfortunately, it is how many deployments occur. I did not intentionally recommend you running with TLS ignore, as I stated, I was confused with your issue and I honestly still am a bit.

It is generally not a client's responsibility to tell a server where its TLS certs are, so Vault-UI does not have that ability to

[2017-05-19 17:29] stephansnyt commented on #97
Actually yes I would still need to provide the `-ca-cert=path` because this is for the "certificate authority certificate" not the certificate which vault presents to clients who try to connect.

Getting into that distinction is maybe outside the scope of this issue, but I'll try to give a short version of it.

Your operating system (or browser) has a bundle of certificate authority certificates.

[2017-05-19 18:25] djenriquez commented on #97
Perfect, perfect. I appreciate the effort in helping me understand.

In order to achieve this, if you were able to mount in your CA Cert into the running docker container, how what would need to be done for that CA Cert to be utilized? Or maybe asking in a different way, When you changed your base image, where did you add the CA Cert such that it was utilized in the image you built?

[2017-05-19 18:41] stephansnyt commented on #97
Some of my earlier posts aren't entirely accurate about how I tried to get this working before: rather than adding my changes in a different `FROM` docker image, I added my changes directly to your Dockerfile. I did this just to prove I could do it and I wouldn't consider these production ready, either. Once I proved the concept I was going to figure out how to make this work in general in a neat

[2017-05-24 14:07] crosbyb opened #124 "Support for AppRole backend"
I'd like to see some support for AppRole. Not so much to allow logging in via AppRole but for viewing/editing AppRoles and their associated properties and policies in the UI.

https://www.vaultproject.io/docs/auth/approle.html

[2017-05-29 20:26] Nowaker opened #125 "Can't list tokens - getting "Error: You don' have enough permissions to list accessors""
Hello. I configured the policy according to the JSON here: https://github.com/djenriquez/vault-ui#json-version. Yes, I cannot list tokens at http://localhost:8000/auth/token/token/. Can you help with that?

[2017-05-29 23:33] msessa commented on #125
The policy linked on the README is a basic policy to correctly display the sidebar. What you are looking for is
[code]

Just be careful, listing accessors is considered a very privileged operation, not to be given to all your users.
From the docs
`[...] access to it should be tightly controlled as the accessors can be used to revoke very large numbers of tokens and their associated leases at once.

[2017-05-30 04:30] Nowaker commented on #125
Thank you! I appreciate your help. Will give it a try tomorrow. Take care.

[2017-05-31 18:13] Nowaker commented on #125
Hey @msessa - it doesn't appear to work. I've made sure all is setup up correctly. `vault auth` returns `token_policies: [admin-policy default]`. And `admin-policy` is where I have these rules.

I disabled "Enable capabilities cache" to overcome any caching issues. Network tab in my Chrome doesn't show any non-200 responses. All looks clean. Worth noting a POST request to http://localhost:8000/v1/

[2017-06-01 06:17] djenriquez commented on #121
@idubinskiy just getting back into this -- please check out PR #126

[2017-06-01 06:18] djenriquez commented on #124
@crosbyb Sorry for the delay; this should be pretty easy to implement, should have it ready by the end of the week.

[2017-06-01 06:44] djenriquez commented on #120
@Garath620 Please take a look at PR https://github.com/djenriquez/vault-ui/pull/127 for this issue.

[2017-06-01 22:48] djenriquez commented on #120
@Garath620 the fix has been [merged into master](https://github.com/djenriquez/vault-ui/pull/127), feel free to check out the `:latest` docker image and test it out.

[2017-06-01 22:49] djenriquez commented on #120
Closing this issue since the fix has been applied. If the problem still exists, feel free to re-open.

[2017-06-01 22:49] #120 closed, assigned to djenriquez

[2017-06-01 22:49] djenriquez commented on #123
@rvangundy still around?

[2017-06-02 06:26] djenriquez commented on #123
Closing this issue as the issue from the description should be resolved by the `Root Key Bias` instruction. If this is still an issue, please reopen.

[2017-06-02 06:26] #123 closed, assigned to nobody

[2017-06-02 06:31] djenriquez commented on #125
Interesting, so you have the ability to list accessors according to the policy, but an error message still reports you don't have access?

It sounds like the token used to login via Vault-UI is not the same token used in `vault auth`. Just to clarify, are you using the same token from the CLI as with Vault-UI?

Also, what version of Vault are you using?

[2017-06-02 06:32] djenriquez commented on #97
Reopening this issue as I've already forgotten about it since it was closed. Will get this one back in the list.

[2017-06-02 09:14] pschmitt opened #128 "Latest docker image does not start"
The latest images fail to start correctly.

[code]
Related PR: https://github.com/djenriquez/vault-ui/pull/25

EDIT: The latest working image I could find is f65dad2838ff

[2017-06-02 09:18] ilya-chumakov commented on #128
Same issue.

[2017-06-02 14:24] djenriquez commented on #128
Interesting, Docker must have built a bad image and pushed it up, I've manually pushed a working
image built from `master` while Docker hub tries another run.

[code]

Sorry for the trouble.

[2017-06-02 15:01] djenriquez commented on #128
It appears the problem exists with a new version of `yarn` that is running on the build servers included in a new `node:alpine` base image. As you can see above, v0.22.0 was what was cached in my `node:alpine`image. When I pull the latest `node:alpine` and rebuilt vault-ui, I run into the same issues.

I'll search through some yarn issues later, but this looks related: https://github.com/yarnpkg/y

[2017-06-02 17:14] Nowaker commented on #125
Hey @djenriquez, thanks for chiming in. I use the same token. Using `vault auth -github` and using the same GitHub token in Vault UI. Using the latest version of Vault (0.7.2).

Some more hacking:

@msessa suggested capabilities:sudo and capabilities:read for token/accessors and token/lookup-accessor/* respectively. I changed `capabilities` to `policy` and have a differently looking error. Now it'

[2017-06-02 22:04] djenriquez commented on #125
Hi @Nowaker,
According to the [Vault docs](https://www.vaultproject.io/docs/concepts/policies.html#capabilities-and-policies)
`policy:sudo` is equivalent to `capabilities: ["create", "read", "update", "delete", "list", "sudo"]`.
Vault-UI calls the accessors endpoint using
[code]
which means the two you need are actually:
[code]
`sudo` because `/auth/token/accessors` is a root-protected path, `list

[2017-06-03 15:09] fia5000 opened #129 "Pagination Is Broken"
It appears that secrets on the 2nd page, when clicked upon do not show the underlying key value structure, yet if you filter the same item and go to the results, the secrets are shown.

To sum it up, here is a gif.

https://cl.ly/3e3n3S1Q0D0S/[5138adca33e9b2a9b2e029919fc0dce1]_Screen%20Recording%202017-06-03%20at%2010.58%20AM.gif

[2017-06-03 18:27] djenriquez commented on #129
Thanks for reporting this bug @fia5000. The fix has been added and now exists on the `:latest` Docker image and in the `master` branch. We'll add this fix to the 2.2.0 release. You can reference the PR here: https://github.com/djenriquez/vault-ui/pull/130

Please verify that this fix is producing the expected behavior. Once verified, please close the issue. Thanks!

[2017-06-03 22:27] fia5000 commented on #129
@djenriquez Confirming #130 Fixes this bug. Thank you!

[2017-06-03 22:27] #129 closed, assigned to djenriquez

[2017-06-04 07:07] djenriquez commented on #121
This functionality was added in PR https://github.com/djenriquez/vault-ui/pull/126. It is now available in `:latest` and will be included in to 2.2.0 release.

[2017-06-04 07:07] #121 closed, assigned to djenriquez

[2017-06-05 21:38] idubinskiy commented on #121
@djenriquez What does the timing of 2.2.0 look like?

[2017-06-05 22:31] lknock opened #131 "400: Bad Request at login (docker)"
Hi,

I've set up a docker container running the latest image. After setting the Vault URL and Login Method, I keep getting 400 errors when I try to log in with the 'test' user. I've tried multiple URLs already:

[code]

Using the VAULT_URL_DEFAULT environment variable instead also did not work. The UI still displays the last one I entered. Any ideas?

Thanks in advance

[2017-06-05 23:40] djenriquez commented on #131
Hi Lenny,

The UI will use the `VAULT_URL_DEFAULT` only if you have never opened Vault-UI before. Once you have it opened, the browser will actually cache whatever you typed in, so if you would like to use the value in the env var, you would need to clear your browser cache.

Now, the value that should be set here is the _address_ of your Vault, not the address of Vault-UI, which is what I'm under

[2017-06-05 23:45] djenriquez commented on #121
There is some work the other collaborators are working on, but given this is an open source project, priorities will tend to move around a bit, likely towards their real job and life. But no big deal; let's give 2.2.0 a deadline of this Saturday, any feature not merge in will just get pushed to 2.3.0.

DJ Enriquez

[2017-06-06 01:58] lknock commented on #131
Aha, you're right, my mistake. I thought vault was packaged alongside the UI in your docker image and this URL was just some 'trusted host' kind of thing. I've got vault running in a separate docker and it's working great now.

Thanks you.

[2017-06-06 02:16] idubinskiy commented on #121
Great, thanks for the heads up.

[2017-06-06 02:53] djenriquez commented on #131
Awesome! Glad you got it working, closing this issue.

[2017-06-06 02:53] #131 closed, assigned to nobody

[2017-06-06 06:28] pschmitt commented on #128
Working fine for me.

[2017-06-06 06:44] djenriquez commented on #128
Great! Closing.

[2017-06-06 06:44] #128 closed, assigned to djenriquez

[2017-06-06 10:08] D-RVLx commented on #120
I confirm, that fix this issue.
Thank you

[2017-06-09 12:24] D-RVLx opened #132 "Reset view and pagination"
Hello @djenriquez,

I think I have found a bug with pagination:
After viewing or editing a secret, pressing Cancel or Save will reset the filter and pagination.
The current page will be lost and the interface will show a another random(?) page

[2017-06-09 15:05] andrewl3wis commented on #29
I just want to jump in and say that this is still an issue, and I can't get it to run correctly under a prefix

my nginx config looks something like this, and I've tried multiple combinations to try and get it to work:
[code]

[2017-06-09 15:20] aaronhurt commented on #29
@djenriquez can we get this re-opened?

[2017-06-09 15:21] djenriquez commented on #29
Whoops, sorry guys. I had totally forgotten about this since I dropped the ball on reopening the issue. Doing so now, we'll get to this when we can.

[2017-06-09 15:21] aaronhurt commented on #29
Thank you!

[2017-06-12 15:28] synchr-darnold opened #133 "lame request, but I cant seem to find the install page for Mac OSX"
Can you please add a link the projects README? Thank you. If I missed it, my apologies! :)

[2017-06-12 20:31] seffyroff commented on #133
Looks like your easiest option is to deploy it in a Docker container - that's what I do on my Macbook Pro!

[2017-06-13 18:09] idubinskiy commented on #121
@djenriquez Any update on 2.2.0 release?

[2017-06-14 05:09] djenriquez commented on #133
hi @synchr-darnold, you can find the install from the releases page: https://github.com/djenriquez/vault-ui/releases/tag/2.1.0

Closing, feel free to re-open if still unclear.

[2017-06-14 05:09] #133 closed, assigned to nobody

[2017-06-14 05:10] djenriquez commented on #132
Thanks @Garath620, looking into this now.

[2017-06-14 06:35] djenriquez commented on #125
@Nowaker Any feedback?

[2017-06-14 06:53] #103 closed, assigned to msessa

[2017-06-14 07:47] djenriquez commented on #132
@Garath620 This fix is on `:latest` and `:2.2.0`, please verify and close this issue once you're confirmed the fix.

[2017-06-15 07:07] D-RVLx commented on #132
Hi @djenriquez,
I have tested 2.2.0. Filter stay applied after viewing secret. Thanks
But without filter, I have the same behavior, the current page is lost and the interface show a another random.

[2017-06-15 18:35] djenriquez commented on #132
Interesting, I thought I had tested that out. I'll take a look at it later tonight again.

[2017-06-19 04:09] djenriquez commented on #132
@Garath620 I'm trying to duplicate the issue that you're describing but cannot. On 2.2.0, if I add a filter to the secrets list with multiple pages, verify it still has multiple pages, go to a random page, click out of the secret either with cancel or save, it brings me back to the correct page with the secret I just viewed/updated.

Without a filter, the behavior is exactly the same.

Can you pro

[2017-06-20 19:54] D-RVLx commented on #132
Hi @djenriquez,
You do not need to add a filter. Just select a secret name to view it. Press Cancel and the current page is changed.

[2017-06-20 23:27] tallpauley opened #135 "Login w/ Multi-Factor Authentication"
It'd be great to have support for Duo two-factor for those using `userpass` or `ldap`

https://www.vaultproject.io/docs/auth/mfa.html

[2017-06-20 23:37] tallpauley commented on #135
Ok, I hadn't yet set up DUO, and didn't do my due diligence in reading the docs. The API is the same when logging in w/ MFA, so as long as the UI is fine w/ the wait from the API this is already done :)

[2017-06-21 01:56] tallpauley commented on #135
This isn't a feature like I had presumed. If the mfa experience leaves something to be desired, I can make an issue or pull request for that.

[2017-06-21 01:56] #135 closed, assigned to nobody

[2017-06-22 18:10] iamsaso opened #137 "Newlines when viewing"
You can save text with newlines but when you load it it shows it with \n. Would it be possible that the editor would parse \n?

![screenshot 2017-06-22 11 07 04](https://user-images.githubusercontent.com/8398242/27448825-18689370-573b-11e7-965b-392cf798a5fa.png)
![screenshot 2017-06-22 11 07 12](https://user-images.githubusercontent.com/8398242/27448824-1865014c-573b-11e7-85ac-377c33a2a0b4.png)

[2017-06-22 20:29] tallpauley commented on #52
lgtm, lets close this since the PR was already merged

[2017-06-22 20:29] #52 closed, assigned to Lucretius

[2017-06-22 20:51] tallpauley commented on #66
I get where @rptxcosmo is coming from, I have a similar need for a vault UI that works similar to a password manager. @msessa @djenriquez I think this would be best implemented w/ a plug-in or "custom view" system that triggers custom views when metadata exists on a given path in vault.

I could see if you have a path `secrets/passwords` that you wanted to show up as a password manager view, you w

[2017-06-23 17:31] djenriquez commented on #132
I'll take another look. 👍

[2017-06-23 17:35] djenriquez commented on #137
Hey @sasso, this is a dependency we have on [josdejong/jsoneditor](https://github.com/josdejong/jsoneditor), and it looks like there have been some new releases, but im not sure if this is specifically one of them. I can review the changelog for that project, update and see what happens. If not, we can submit a feature request on that project to handle this. Otherwise, the problem I see here is th

[2017-06-23 23:53] brandon099 opened #138 "Arch Linux AUR package"
Just dropping by to say that I've packaged the AppImage release up as an AUR package to install on Arch Linux: https://aur.archlinux.org/packages/vault-ui-bin

Thanks for taking the time to build this application!

[2017-06-26 05:14] djenriquez commented on #138
Awesom @brandon099! Just FYI, we do have 2.2.0 out now =).

[2017-06-26 15:55] brandon099 commented on #138
I didn't see the AppImage for 2.2.0, and it was marked as `Unreleased` so I went with 2.1.0 to start with.

[2017-06-27 01:12] djenriquez commented on #138
Ah, I didn't realize they weren't there. We'll take a look.

@msessa I misunderstood that the `yarn publish` command would upload things, but it appears the only thing on the release is the iOS build I manually added. Could you assist on getting the other artifacts up?

[2017-06-27 01:40] msessa commented on #138
Sure I'll take a look

On Tue, 27 Jun 2017 at 11:12 am, DJ Enriquez <notifications@github.com>
wrote:

[2017-06-28 07:49] D-RVLx commented on #132
Hi @djenriquez
To help you duplicate the issue, I make a screencast
I have a generic backend test => `for i in {1..100} \ ; do vault write test/test$i key=value; done`
Look the current page number
![vault-ui_reset_view](https://user-images.githubusercontent.com/28151179/27625944-9856bf58-5be6-11e7-9b4b-782cfe19e355.gif)

[2017-06-30 03:50] andrewsav-bt commented on #100
@msessa the use case is straight forward - to be able to read and to write to the cubbyhole backend.

I do not think that this is entirely correct, anyone one can use cubbyhole for any scenario they can see fit. You might be confused by the fact, that the default wrap/unwrap functionality only produce one-time use tokens, and with those, indeed, adding cubbyhole to Vault-UI would be useless. Fortu

[2017-06-30 04:01] msessa commented on #100
@andrewsav-datacom
_"to be able to read and to write to the cubbyhole backend"_
what you're describing is a feature request, not a use case.

 I get that cubbyhole backend has its purpose, I just can't see a practical use for a UI around it. If you can elaborate on that we might be able to help you with the implementation, otherwise feel free to submit a PR.

[2017-06-30 04:29] andrewsav-bt commented on #137
@sasso According to json spec, json strings cannot have new lines in them, all new lines should be escaped with `\n`. If there is an *actual* new line in json (that is a character with ascii code 0A or a corresponding character in the current encoding) this is NOT a valid json.

![image](https://user-images.githubusercontent.com/27190911/27721125-719ef646-5db2-11e7-9ddf-1b6e9288e5e5.png)

Above is

[2017-06-30 05:20] andrewsav-bt commented on #66
@tallpauley `vault write secret/passwords .vault-ui-plugin=password-manager` may not fly if whatever is already working with a secret does not expect this additional field and can potentially break because of it. This metadata need to reside elsewhere, ideally in a Vault-UI specific path. Otherwise sounds good.

[2017-06-30 09:46] msessa commented on #118
@djenriquez what do you think about this?
I believe the CLI is the way to do it. This type of functionality doesn't really belong to a UI

[2017-06-30 09:47] msessa commented on #138
@djenriquez sorry for the delay. Please check #139 for the fixed publish command

[2017-07-10 03:55] djenriquez commented on #97
@stephansnyt this feature should now be available from `:latest`, please give it a shot. If it doesn't provide what you need, feel free to re-open this issue.

[2017-07-10 03:55] #97 closed, assigned to nobody

[2017-07-11 15:21] dminca opened #141 "Support for SSH Secret Backend?"
Hi,

Does it support [SSH Secret Backend][1] ? If so, what should I configure to enable it?

[1]: https://www.vaultproject.io/docs/secrets/ssh/index.html

[2017-07-11 19:29] djenriquez commented on #141
Hi @dminca, not yet. A good one for us to add in our backlog!

[2017-07-12 07:32] vinayshettar opened #142 "Vault UI for Windows - 2.2.0"
Hello,
Will there be Vault UI (2.2.0) for Windows available?

Regards,
Vinay

[2017-07-12 07:37] vinayshettar opened #143 "Release 2.2.0 is Unreleased?"
Hi,
The release page https://github.com/djenriquez/vault-ui/releases/tag/2.2.0 says 2.2.0 is Unreleased.
Is there a planned date when 2.2.0 will be released?

[2017-07-14 18:14] Mudpuppy12 opened #144 "PKI Secrets Backend"
This is a feature request to support the secret backend for pki.

[2017-07-14 23:31] tallpauley commented on #66
@andrewsav-datacom ah right, agreed, I think vault-UI specific path is the way to go

[2017-07-17 03:02] lcgkm opened #145 "Error: Error: unable to verify the first certificate"
[code]
login by token, but got following error message:
[code]

[2017-07-17 07:38] lcgkm commented on #145
The CUSTOM_CA_CERT looks like not work
[code]

[2017-07-17 20:58] maksimlikharev commented on #118
@msessa well, this is very convenient besides jsoneditor supports that functionality, that is loading from file or URL

[2017-07-17 22:44] djenriquez commented on #142
Yes, looks like our publish script didn't get it up. I'll see what went wrong with it tonight.

[2017-07-17 22:45] djenriquez commented on #143
Thanks for pointing that out, fixed.

[2017-07-17 22:45] #143 closed, assigned to nobody

[2017-07-17 22:45] djenriquez commented on #144
Awesome, I'll get this on the list.

[2017-07-17 22:48] djenriquez commented on #145
Hmmm, I ran this without needing to replace anything in the cert. Could you try running:
[code]
?

[2017-07-18 03:58] lcgkm commented on #145
Still not work
[code]
But following command is ok.
[code]

[2017-07-18 15:54] matthewmrichter opened #146 "New Secret button does not work at root level"
When spinning up a new, empty vault from scratch, we would expect to begin defining paths and secrets in the secrets interface. However, the "New Secret" button seem to not do anything whatsoever, despite being green.

[2017-07-18 16:34] ipedrazas opened #147 "Helm chart"
Would you be interested on having a [Helm](https://github.com/kubernetes/helm) chart to deploy the ui into a kubernetes cluster?

I have created one, so I'm happy to send a PR. Basically, if you want to install `vault-ui` in kubernetes you do:

[code]

and that's it. To set variables like `VAULT_AUTH_DEFAULT` you would do:

[code]

[2017-07-19 16:09] djenriquez commented on #147
That sounds like a welcomed addition. Please send the PR over!

[2017-07-19 16:42] ipedrazas commented on #147
Sent!

https://github.com/djenriquez/vault-ui/pull/149

[2017-07-21 03:48] lcgkm opened #150 "Parse policy path failed"
![image](https://user-images.githubusercontent.com/5523451/28448420-77aa28c2-6e0a-11e7-9adc-c1649e41bc1f.png)

[code]

[2017-07-23 01:59] msessa commented on #150
It appears to be a bug with the hcl2json library that vault-ui uses. For some reason it handles a dot in the path as a nested json level.

@djenriquez I'll try to find the code causing the bug and report upstream. In the meantime we might have to vendor the dependency

[2017-07-23 02:31] msessa commented on #150
PR #151 fixes this issue by using a different HCL parsing library

[2017-07-23 02:51] msessa commented on #146
I can't reproduce this issue with the current master branch.
I initialized a blank vault instance, logged in with the root token and used vault-ui to browse the "secret/" backend mounted by default. The "New Secret" button is available and it brings up the standard json editor modal window.

Can you please check your browser console log for any exception?

[2017-07-23 03:40] msessa commented on #137
As @andrewsav-datacom correctly stated, a true newline (0x0A) is not allowed in JSON and must be encoded as "\n".
`josdejong/jsoneditor` will enforce this behaviour when editing a value.

You'd need to open an issue with `josdejong/jsoneditor` if you'd like to see "\n" being rendered as newline.

Closing this issue

[2017-07-23 03:40] #137 closed, assigned to nobody

[2017-07-23 03:41] msessa commented on #125
Idle. Closing issue

[2017-07-23 03:41] #125 closed, assigned to djenriquez

[2017-07-23 10:07] AndrewSav commented on #137
But the current version of the jsoneditor does NOT allow you entering new line as in the demo and on the screenshot above. Why Vault-UI does? Maybe the version of jsoneditor required upgrade? To me it looks like there is something to be fixed in the scope of vault-ui @msessa

You should not be able to enter the line break in the Vault-UI and save it, since it's not a vaild json. You need to be for

[2017-07-23 14:18] msessa commented on #137
@AndrewSav Even with the current version of the jsoneditor, vault-ui does not allow you to save syntactically incorrect json.
When using the editor in `tree` mode, entering a newline character would only be displayed as newline while editing, as soon as the user clicks outside the editor the newlines are transformed to "\n". Entering newlines in the middle of a quoted string while in `code` mode w

[2017-07-23 19:56] AndrewSav commented on #137
@msessa, yes our observations are the same. It seems that only the conclusion is different. To me, the fact that "you are allowed to enter newlines in the middle of a quoted string and the editor will take care of encoding it as \n when saving or switching views" is the source of confusion that lead to opening this issue. In the jsoneditor demo, (on the screenshot above) they are NOT allowing you

[2017-07-23 21:53] djenriquez commented on #137
Would it suffice to add a warning for users? I understand that it's not a valid JSON, but the string is parsed to be so. I believe that forcing users to input valid JSON may make things unnecessarily difficult for some users.

Thoughts?

DJ Enriquez

[2017-07-24 02:04] AndrewSav commented on #137
@djenriquez That might help. Where would you put the warning and on which condition will you display it?

[2017-07-24 02:05] msessa commented on #137
@AndrewSav I've checked http://jsoneditoronline.org/ and I'm seeing the same behaviour where if I enter newlines in either tree view or code view, they will get converted to \n

[2017-07-24 02:08] AndrewSav commented on #137
@msessa yes indeed, now it does. Was not so 24 days ago when I took the screenshot.

[2017-07-24 02:15] msessa commented on #137
Imho this discussion should be taken over at [josdejong/jsoneditor](https://github.com/josdejong/jsoneditor/issues).
Vault-UI is merely a consumer of that component and we don't enforce any logic around it. We expect the component to return a JS object and we pass that object to vault after re-serializing it. Whether or not any particular behaviour should be allowed or not while inside the editor

[2017-07-24 13:55] sebdoido opened #152 "Error when trying to connect to HTTPS Vault endpoint through proxy"
Hi there
I'm running the 2.2.0 released version.

I'm trying to access to Vault endpoint (https) through an http proxy (Tinyproxy solution compiled in:
    XTinyproxy header
    Filtering
    Transparent proxy support
    Reverse proxy support
    Upstream proxy support
)

we have already some services that use this tinyproxy to talk with Vault (consul -> tinyproxy -> https://vault...)

But i'm fa

[2017-07-24 15:08] msessa commented on #152
Hi @sebdoido,

I assume you have your reasons to use an http proxy to move sensitive data such as tokens in a vault deployment, which is something I normally would not recommend.
That said, I had a look at the axios issue (thanks for doing the research) and it would seem that no direct solution is viable at least for now.

I encourage you to submit a PR if you want to attempt a replacement of axio

[2017-07-24 21:28] beeyeas commented on #145
I ran into the same issue "Error: Error: unable to verify the first certificate" in the UI when i pasted the token.

If i do the -e "CUSTOM_CA_CERT=`cat vault-ca.crt`" on docker run it works like charm, thanks.

[2017-07-24 23:04] #150 closed, assigned to nobody

[2017-07-25 00:45] andrewsav-bt opened #153 "Unable to create/delete a secret unless token has list capabilities on parent node"
My token has the following policy attached:

[code]

Naturally I can create/edit/delete/view stuff under this prefix with command line. However in the vault-ui the secret page does not provide me with any way to navigate the mount, as I do not have the access to top level "secret" path.

I can paste `http://my-vault-ui/secrets/generic/secret/some/path` or `http://my-vault-ui/secrets/generic/secret

[2017-07-25 01:37] msessa commented on #153
This is by design. If the policy applied to your token doesn't have permissions to list a particular path then I see no way for vault-ui to present you with a tree. At that point a user would be required to know the exact path in advance and URL becomes the most direct way to encode it.

I am unable to reproduce this issue, I've used the policy that you provided in the issue description and browse

[2017-07-25 01:53] andrewsav-bt commented on #153
@msessa  Try to create a secret with vault-ui that corresponds to

[code]

Can you do that? How?

[2017-07-25 02:07] msessa commented on #153
Ah I see your point now.
It's a bit of a tricky situation as browsing to http://vault-ui/secrets/generic/secret/some/path will instruct vault-ui to look for an existing object at `secret/some/path` which would return a 404 from vault.

One way we could solve this is by detecting the 404 and at the same time run a capability check to see if the token would be allowed the `create` operation. If both

[2017-07-25 02:15] andrewsav-bt commented on #153
No worries. Thank you for your time ;) I personally do not require any ETA, I just know that you guys appreciate feedback and improvements suggestions, so I'm doing my best to help ;)

[2017-07-25 02:18] andrewsav-bt commented on #153
@msessa feel free to edit the subject of the issue to reflect what's going on more precisely. If you as a collaborator do not have access to edit the issue title but still would like to change it, please post your suggestion and I'll update it.

[2017-07-25 16:15] matthewmrichter commented on #146
No exceptions that I can determine. I tested and I have this behavior in both safari and chrome, also with two separate vault clusters and instances of vaultui. I have the behavior on all environments/browsers. The button does not work at the root level of any vault cluster.

[2017-07-26 17:57] beeyeas opened #154 "Secrets Access Logs - alert notification - dashboarding"
I enjoy using vault-ui and i see it is very functional.

As a next step, I am looking forward for a solution to have a vault secrets access UI dashboard ( may be kibana like ) showing details :

Secrets Access Logs, Authentication methods, Failure details, Alert notification.

Do share , if any exist already. Help me brain storm if something can be put together quickly.

[2017-07-27 02:15] djenriquez commented on #154
Nice feature request.

This will require a bit of architecting because setting up access logs in Vault currently is a pretty invasive process IIRC. Once that's set up, we would need to create a UI to parse the logs, then build alerting logic for it.

A lot of work, but definitely not impossible.

[2017-07-27 03:55] akonkol commented on #154
@beeyeas you mentioned building something 'kibana like,' why not use ELK itself? You could enable the audit backend to a file:
`vault audit-enable file file_path=/var/log/vault_audit.log`
A typical log entry looks something like this:
`2017/07/26 21:49:38.444444 [INFO] expire: revoked lease: lease_id=auth/approle/login/b5851b00385c684cf83ed0117f4e3d52eaa20eb4`
Pick up that log however you do it fo

[2017-07-27 04:19] msessa commented on #154
I agree with @akonkol, use the right tool for the job. There's no need to reinvent the wheel when ELK is perfectly capable of doing exactly what you're looking for.
If you can't be bothered with maintaining the stack you can always use SaaS providers such as Logentries,Loggly or Scalyr.

[2017-07-27 06:38] djenriquez commented on #72
Sorry for the reallly realllly long wait, here is the PR for this: https://github.com/djenriquez/vault-ui/pull/156

[2017-07-27 06:40] djenriquez commented on #147
Closing this issue as the feature has been submitted and merged in.

[2017-07-27 06:40] #147 closed, assigned to ipedrazas

[2017-07-27 06:43] djenriquez commented on #145
@lcgkm I think the problem with pasting is something in the format is being altered unintentionally. I've tried this out myself and running `cat`ing the file into the environment var directly is working for me. Can you post the exact `docker run` command you are using?

[2017-07-27 22:52] beeyeas commented on #154
Thanks to you all.
I completely agree to your suggestion of using ELK ( thats what even made me write this request ).
I felt this project vault-ui is the closest i could find on github for this needs ( if not i can start my own repo with some pre-set ELK config and templates ).

About using ELK log parsing for dashboarding and alerting - i see it is easily doable.
Ideally there should be kind of c

[2017-07-31 05:09] djenriquez commented on #72
PR https://github.com/djenriquez/vault-ui/pull/156 merged. Okta Authentication backend now available in the `:latest` image, will be included in the upcoming `2.3.0` release.

[2017-07-31 05:09] #72 closed, assigned to djenriquez

[2017-07-31 16:20] aodj opened #157 "Release build doesn't appear to have all icons"
When using the latest 2.2.0 release build on OSX, I don't see all the icons in the application. You can see this in the main landing page, which is missing the capital V in Vault, as well as on the `Create new secret` UI.
![screen shot 2017-07-31 at 16 19 04](https://user-images.githubusercontent.com/1374905/28787546-1e1e3c80-760c-11e7-8a41-6c84888223a0.png)
![screen shot 2017-07-31 at 16 14 56](h

[2017-08-02 09:45] derFunk opened #158 "Pagination Bug: Saving a secret brings you to another page when clicking `Save` or `Cancel`"
Version (Tag) 2.2.0 from https://hub.docker.com/r/djenriquez/vault-ui/.

## Reproduction

1) Have a lot of secrets so that pagination is in effect (e.g. 3 pages)
2) Change the value of a secret on page `1`.
3) Click the `Save` or `Cancel` button
4) End up somewhere else - e.g. on page `3`

## Expected Behaviour

After clicking `Save` or `Cancel`, get the same page displayed the secret you edited i

[2017-08-02 19:37] bgupta opened #159 ""New token" popup/modal doesn't render long policy names/paths correctly in available/selected policies"
The name folds over it self and is unreadable.

[2017-08-03 03:39] lcgkm opened #160 "Enable TLS support"
Enable HTTPS based on SSL/TLS of Node.js.

[2017-08-03 04:14] lcgkm commented on #145
Fixed. My mistake, I used incorrect certificate.
Thank you very much for your help! @djenriquez @beeyeas

[2017-08-03 04:14] #145 closed, assigned to nobody

[2017-08-04 07:17] jansipke opened #161 "Add creation of folders"
Perhaps I've missed it, but there doesn't seem to be a way to create folders (for storing secrets) in the UI. From the CLI you can make these folders, from the UI you can browse them, but it would be very nice to also be able to create them directly from the UI.

[2017-08-04 10:13] aodj commented on #161
When you're storing secrets, just put in a path that includes a forward slash, such as `foo/bar`. This will then get created as a folder containing a single secret.

[2017-08-04 10:39] aodj commented on #161
I should point out that if you're trying to create an empty folder, I don't believe it's possible, even via the CLI.

[2017-08-10 12:23] nusnewob opened #163 "Lists in empty mounts are not refreshed"
I have multiple generic secrets backend mounted in different paths, when I click on a non empty mount, it lists all secrets in that mount, then go back to the the other mount with no secrets, the list of items are not refreshed, still showing items from previous non empty mount.

[2017-08-12 21:23] struanb opened #164 "Creating new token (not from role), without policies selected, assigns the root policy"
Thanks for creating vault-ui. It seems sturdy and on the road to being a great fully-featured vault ui.

Whether it's a bug or feature though, I've found that when I create a new token (not from role), and remove all policies from 'Selected Policies', the token that is created is assigned the root policy.

This seems dangerous as IMHO it should be impossible for a generated token to be assigned  t

[2017-08-14 00:15] msessa commented on #164
Thi behaviour comes from vault itself, not vault-ui. Specifically the `policies` parameter of the Create Token API: https://www.vaultproject.io/api/auth/token/index.html#policies

[2017-08-14 00:15] #164 closed, assigned to nobody

[2017-08-14 05:44] Timbus commented on #124
Uhh, not to sound too needy, but it has been a bit over a week now and you might have forgotten about this.
Any chance you will be getting back around to implementing this feature? I looked through the code and don't think I'd be able to add it myself..

[2017-08-14 19:09] tallpauley opened #165 "Improve UX for MFA login"
It would be nice if Vault UI could give some indication that it is waiting on MFA auth. I know this is tricky because there is no intermediate response saying that MFA push happened, but maybe at least it could have a message indicating that auth request was sent to vault and is waiting on a response. It could even potentially query to see whether MFA is turned on for the backend, and mention that

[2017-08-14 19:12] tallpauley opened #166 "Login page should include a button"
I know it is super cool and minimalist as it is, but having a "login" or "authenticate" button would be friendlier UX.

[2017-08-14 19:16] tallpauley opened #167 "UX Bug: Auth error persists after second login is attempted"
Steps to reproduce:
1) Turn on MFA (not really noticeable w/out it)
2) Enter incorrect credentials and click enter (error message appears)
3) Enter correct credentials and click enter

After second auth request, while waiting for MFA, the error message persists. It should go away when second auth request is issued.

[2017-08-15 16:32] struanb commented on #164
@msessa Thanks for clarifying. But could I suggest vault-ui should show a warning in the case a token is to be created without any policies selected? It is an extremely dangerous behaviour but one the vault creators have probably chosen for good reason and are unlikely to change.

[2017-08-15 16:48] struanb commented on #66
I'm considering using Vault-UI as a password manager too. Like @rptxcosmo says, this is a common feature of password managers for when a username or password needs to be copied and pasted in a crowded office or public place, and should not be seen or caught on CCTV.

Although I realise this is not a priority for the developers, I'd like to take the idea further and suggest  how secret versioning,

[2017-08-15 16:50] djenriquez commented on #165
I'm not too familiar with the MFA authentication for Vault, but it sounds like something the CLI supports, so Vault-UI will need to do the same.

Apologies for the late replies by the way, just got back from a vacation yesterday and doing some catch up work with my main job. I'll be a little hands-off this project for a little bit.

By the way @tallpauley, you've done your fair share of contributi

[2017-08-15 16:51] djenriquez commented on #166
You know this has actually always bugged me but was never a high priority, thanks for noting. I agree with your request.

[2017-08-15 16:52] djenriquez commented on #163
Hi @nusnewob this is likely a bug with we're managing the state between mount UI transitions. We'll take a look.

[2017-08-15 16:54] djenriquez commented on #161
Hi @jansipke, @aodj is correct, "folders" really are not things that exist in Vault. Vault utilizes the `/` as namespace delimiters for keys, so they sort of act like folders, but the only difference is a namespace cannot exist without a key within it.

There currently is no way to create just an empty namespace in Vault.

[2017-08-15 16:54] #161 closed, assigned to nobody

[2017-08-15 16:55] djenriquez commented on #160
Currently, many users are terminating TLS via a reverse-proxy of sorts. This feature would require Vault-UI to handle that termination. Totally doable, just not in the priority atm. Would definitely love another one of your PRs, however, if this is a must for you.

[2017-08-15 16:55] djenriquez commented on #159
Ah, yes, I know what you're running into. Let's see if we can pull @Lucretius in for some advice on this one.

@Lucretius could you spare some time to take a quick look at how we could improve this?

[2017-08-15 16:58] djenriquez commented on #158
Hi @derFunk, thanks for reporting this. This is actually identical to the bug reported here: https://github.com/djenriquez/vault-ui/issues/132. We've just been a little light on time and tight on priorities. If this is something you can dive in a submit a PR for, would definitely appreciate it, otherwise closing in favor of exisiting https://github.com/djenriquez/vault-ui/issues/132.

[2017-08-15 16:58] #158 closed, assigned to nobody

[2017-08-15 16:59] djenriquez commented on #124
@TiMBuS I did commit to that didn't I. Just getting back from vacay and catching up on some things at work, i'll have this as the highest priority for this project due to my failed commitment.

[2017-08-15 17:13] struanb commented on #66
@andrewsav-datacom @tallpauley Just want to add, re your remarks, that compatibility with other applications for password hiding (or versioning) doesn't seem to me to be a given. If you want vault-ui to be able to hide passwords generically, that indeed could be useful.

But, independently, it could also be very useful if vault-ui were to incorporate a password manager plugin of its own that store

[2017-08-15 18:25] tallpauley commented on #160
In my opinion, if the roadmap is to eventually make vault-ui "serverless" once Vault releases CORS support, then Vault-UI would just become some static files to be served via whatever server and wouldn't need NodeJS SSL.

[2017-08-15 18:27] tallpauley commented on #165
@djenriquez Yep, main jobs definitely take precedence :) Sure, I can at least jump on now and then and help sort through issues.

[2017-08-15 18:52] tallpauley commented on #66
@struanb That is definitely an interesting idea, might be a nice way to get versioning until Vault itself supports it. I think this is exactly why a UI plug-in system would be useful.

This is outside the scope of this issue, but I should add that Vault isn't ideal as a "true" password manager for a number of reasons:
- not *currently* the ability to have automatic user/group password paths ([Dyna

[2017-08-15 19:43] djenriquez commented on #165
Thanks @tallpauley, invite sent.

[2017-08-16 21:13] rosspeoples opened #168 "Cannot List Available Policies When Creating a New Token"
For some reason, the list of available policies when creating a new token is empty. I checked Chrome DevTools and the only thing that stood out was:

[code]

Not sure if it's an issue with my configuration or something else. Using Vault 0.7.3, connecting via HTTPS to Vault, no root tokens, using LDAP backend for authentication which maps to the following policy:

[code]

Strangely, however, if I g

[2017-08-17 00:02] tallpauley commented on #168
This is a bug, I believe it's on this line, `allowed_methods` should be "read" not "get":
https://github.com/djenriquez/vault-ui/blob/b62b3fcca042f84e076a760b50fbc6eb0c34cae5/app/components/shared/PolicyPicker/PolicyPicker.jsx#L68

If you were using vault-ui as root, or using Okta this bug wouldn't show up:

[2017-08-17 00:05] tallpauley commented on #168
If you're using LDAP backend, policy picker would never return the list of policies. @deejross it would be an easy fix if you wanted to submit a PR

[2017-08-17 00:07] rosspeoples commented on #168
@tallpauley why would it never return the list of policies when using LDAP? Is it just that one line you referenced that I need to fix or is there something else I need to implement? Thanks.

[2017-08-17 00:18] tallpauley commented on #168
@deejross It looks like it was a typo bug introduced recently. It's not just an issue w/ LDAP, but all non-Okta auth backends when not logged in as root. `tokenHasCapabilities` is always returning false, since a token can never have the `get` capability, it should be `read`.

[2017-08-17 00:20] tallpauley commented on #168
@deejross I believe it is just that line, it just needs to be verified.

[2017-08-17 00:23] tallpauley commented on #157
Confirmed this on my mac w/ 2.2. Marking as bug.

[2017-08-17 01:12] Timbus commented on #124
Thank you! Our approles need policies added and it's difficult for most of us to go back to the CLI after using this utility. The feature will be greatly appreciated.

[2017-08-17 05:16] #168 closed, assigned to nobody

[2017-08-17 06:27] djenriquez commented on #124
Sure thing @TiMBuS, I'm working through it slowly, but you can follow the progress here: https://github.com/djenriquez/vault-ui/tree/feature/approle

[2017-08-17 14:18] rosspeoples opened #170 "Ability to Unseal Vault"
It would be very cool if Vault UI could detect a sealed vault before showing the login page that would allow you to enter one key at a time until the unseal threshold is met.

[2017-08-23 04:01] djenriquez commented on #124
Hi all, PTAL at https://github.com/djenriquez/vault-ui/pull/171. This feature branch can be pulled and tested from `djenriquez/vault-ui:approle`. Please run, test and comment on this PR.

[2017-08-23 04:58] tuannvm commented on #125
A bit risky, but it works:
[code]

[2017-08-23 05:29] djenriquez commented on #166
See https://github.com/djenriquez/vault-ui/pull/172.

[2017-08-23 05:30] djenriquez commented on #154
Closing in favor of ELK/other tools that can handle this well today.

[2017-08-23 05:30] #154 closed, assigned to nobody

[2017-08-23 05:47] djenriquez commented on #125
@tuannvm the following policy is all you need to provide enough access for vault-ui to list tokens:
[code]

[2017-08-24 19:10] tallpauley opened #173 "UI Issue: Path should be lowercase"
The path that is shown when browsing the secret backend shouldn't be normalized to uppercase. I consider this a bug, since the displayed breadcrumb isn't technically correct.

In addition, if someone wants to fix this it would be nice if that path could be easily copied too, for CLI usage. This could either be accomplished by the breadcrumb being copyable text, or a "copy path" button. I lumped th

[2017-08-25 11:03] cpoole commented on #170
for this to work vault would also need to detect if the endpoint was running in HA mode... detecting which one of the cluster entities is sealed could be challenging, especially if behind a loadbalancer

[2017-08-25 14:08] djenriquez commented on #170
Thinking out loud: the easiest way to do this is provide an option on the login screen to unlock by entering in an endpoint and unseal keys. The nicer, more difficult method would be, on login, detecting sealed vaults, and if detected, pops up a modular window requesting unseal keys to unseal the sealed vault.

DJ Enriquez

[2017-08-26 05:37] aramhovsepyan opened #174 "Performance issues when working with large number of users/policies"
Hi DJ Enriques,

First of all, kudos on the Vault UI. Great work.
We are currently somewhat struggling with Vault UI crashing when there are 50000 users/policies in the vault. What's the complexity of creating a pagination feature on that one?

Thanks a lot.
Regards,
Aram.

PS: I've looked through the list of issues and couldn't find this of being a duplicate.

[2017-08-26 16:59] djenriquez commented on #174
Thanks for reporting this @aramhovsepyan and appreciate the kudos. Pagination should definitely be everywhere. Its easy enough to add it in to each module, but I think it would benefit the project greater to design this properly to have it be its own default module thats implemented for every list.

We'll look into getting this in.

In the meanwhile, can you confirm that listing is not a problem f

[2017-08-26 22:28] cpoole commented on #170
@djenriquez also thinking outloud: both the endpoint field and keys field should be arrays. endpoint as an array so you can unseal a whole cluster. keys as an array because technically none of us should have more than one part of the shard.... and we all know that we _never_ violate that rule :)

[2017-08-26 22:34] cpoole commented on #160
@tallpauley does this PR in vault solve CORS https://github.com/hashicorp/vault/pull/2021 ?

here's the documentation in vault: https://www.vaultproject.io/api/system/config-cors.html

it seems like it would be enough to begin work on this

[2017-08-28 01:55] djenriquez commented on #166
Completed.

[2017-08-28 01:55] #166 closed, assigned to nobody

[2017-08-28 01:56] djenriquez commented on #124
App role completed via https://github.com/djenriquez/vault-ui/pull/171.

[2017-08-28 01:56] #124 closed, assigned to djenriquez

[2017-08-28 07:25] aramhovsepyan commented on #174
Hey @djenriquez,
Thanks for the prompt response.
Vault API is indeed slow and does not support pagination (it takes 1min to process the full request), however it does not crash. Vault UI crashes.
Regards,
Aram.

[2017-08-28 15:37] djenriquez commented on #174
@aramhovsepyan If you can, please test out the image `djenriquez/vault-ui:550de88` which has the changes needed to fix this issue.

[2017-08-28 15:39] djenriquez commented on #132
@Garath620 PTAL at image `djenriquez/vault-ui:550de88` which has the changes needed to fix this issue. I'll merge this in as soon as I get a few eyes on https://github.com/djenriquez/vault-ui/pull/175.

[2017-08-28 15:39] djenriquez commented on #173
@tallpauley This is covered in this image: `djenriquez/vault-ui:550de88`. PTAL.

[2017-08-29 00:14] tallpauley commented on #173
LGTM. Font could be slightly larger?

[2017-08-29 06:38] aramhovsepyan commented on #174
Hi @djenriquez
Any chance you are secretly working for our firm? You are faster that some of my colleagues ;).
The user listing seems to be fixed with this change. Policies are still crashing (we have >50k policies).
Thanks.
Regards,
Aram.
PS: The reason we have so many policies/users is the lack of dynamic policies in Vault, however they are not planning in fixing this soon.

[2017-08-29 13:10] marcelmfs opened #177 "[Feat Request] Implement update user"
As per the documentation, it should be possible to update an user object within userpass auth backend (https://www.vaultproject.io/api/auth/userpass/index.html#create-update-user)

Please implement the update user endpoint so that we can have users changing their own password.

[2017-08-29 14:28] djenriquez commented on #174
Don't get used to it @aramhovsepyan! I work on this project in waves, when time between life and my main job allows 😝. I'll think about the policies some more, the problem with policies is that vault-ui must store them all in memory in the browser because of the nature of the call. It may the a browser limit that's being hit.

What operating system are you using? I can give you a build for the des

[2017-08-29 14:31] djenriquez commented on #177
Hi @marcelmfs, this feature is available in the UI for users who have access through a policy. I see how helpful it would be though to be able to change your own password instead of having an admin do it. Let me think about this a bit.

[2017-08-29 14:36] marcelmfs commented on #177
The problem is also that to include a policy to a user I have to recreate the user. Updating could solve both problems!

[2017-08-29 14:45] D-RVLx commented on #132
Hi @djenriquez,
I confirm, this problem is solved
Thank you very much!

[2017-08-29 14:45] #132 closed, assigned to djenriquez

[2017-08-29 15:50] aramhovsepyan commented on #174
Thanks @djenriquez . We very much appreciate it even if it's in waves :).
We are using OSX. I guess at least having the search feature separately for both users/privacies is already a good enough feature for us. Right now even to search VaultUI tries to load all users and crashes at this point.
Thanks for the help.

[2017-08-30 05:07] djenriquez commented on #174
Sorry @aramhovsepyan, a little confused. When you say right now, do you mean with the change or without? Is the issue resolved for you with this change?

[2017-08-30 05:21] aramhovsepyan commented on #174
My bad, sorry. With the changes the issues for the users are indeed resolved! Vault UI still crashes when I try to list ~50k policies (each user has a policy). If you have time for a similar fix there as well we would highly appreciate it.
Thanks in any case.
Regards,

[2017-08-30 15:28] rosspeoples opened #178 "Add Favicon"
I know this is super low priority and somewhat silly, but can we add a favicon? I typically have a bunch of browser tabs open and the tab for Vault-UI can easily get lost since, in Chrome at least, it defaults to using an icon of a curled piece of paper. Having a pretty icon on the tab would improve the UX a bit.

[2017-08-30 15:32] rosspeoples commented on #170
Honestly, anything that keeps me from having to use the Vault CLI is an improvement. Nothing wrong with it, just a hassle and takes longer. So if it starts out as an option you can use if you get the "Vault sealed" error, I'm fine with that. We can work our way towards a nicer method later.

[2017-08-30 15:45] rosspeoples opened #179 "Improve Token Management UI for Small Screens"
Currently, when looking at the list of tokens, the accessor ID takes up most of the width, truncating the display name and additional policy values. Do we even need to display the accessor ID in the list? Can that be moved to the Show Details modal?

Also, the Show Details modal should be easier to access. Currently you have to click on an entry in the table, then the hamburger button, then Show D

[2017-08-30 16:00] rosspeoples commented on #159
A possible, very simple solution is to simply remove `line-height: 1px;` from the `<div>` list elements. It will cause long items to wrap instead of run over themselves. It may not be a perfect solution, but at least you can actually read long policy names.

Another, slightly more in-depth solution could be to move the available/assigned lists to be on top of each other instead of side-by-side to

[2017-08-30 16:04] djenriquez commented on #178
Hmmm we do have a favicon though. It looks like its probably unable to find it, meanwhile my browser has had it cached all this time. I'll dig in later today, thanks for catching this.

[2017-08-30 16:05] djenriquez commented on #179
Awesome, I'll give that a shot. To be completely transparent, I'm terrible with styling, never really understood it (yet here I am owning a UX project 😛 ).

[2017-08-30 16:06] djenriquez commented on #170
You're absolutely right, I hate unsealing from CLI as well, esp since we have Vault behind an ELB, makes it such a PITA. Thanks for your input.

[2017-08-30 16:07] djenriquez commented on #179
Definitely, I'm actually not too familiar with the Tokens page. Thats work @msessa did, but I do need to dive in and understand it better.

What do you think of @deejross's suggestion, @msessa ?

[2017-08-30 16:07] djenriquez commented on #159
Awesome, I'll give that a shot. To be completely transparent, I'm terrible with styling, never really understood it (yet here I am owning a UI project 😛 ).

[2017-08-30 16:15] rosspeoples commented on #173
It looks a little weird now. Before, it was clear that was a path/breadcrumbs list, now it's just kind of a link lost in a large gray box. It could use a slightly bigger font, and maybe a darker or lighter background to make it stick out a little better.

[2017-08-30 16:29] rosspeoples commented on #173
What do you guys think about this?
![screen shot 2017-08-30 at 11 28 09 am](https://user-images.githubusercontent.com/1234763/29883591-6b342b7a-8d76-11e7-9977-ec8d80feb708.png)

[2017-08-30 16:35] rosspeoples commented on #173
That was done by changing the style on that `<div>` that contains the list and the New Secret button to remove the `padding` and `align-items` styles, then setting its background color to `#dedcdc`. Then I just made a new CSS rule for the links (which could be more strict):
[code]

[2017-08-30 17:56] tallpauley commented on #173
@deejross I agree, that is definitely an improvement. Also, the padding to the left of the secret path looks too wide, probably residual from the previous layout?

[2017-09-05 09:07] aramhovsepyan commented on #174
Hi @djenriquez,
Any news on this one? The fix for the users is fine. We would appreciate a similar fix for the policy listing and we are good to go.
Thanks.
Regards,

[2017-09-05 19:49] scotdalton opened #181 "Pre-Release Docker Tag"
Any chance we could get a 2.3.0 pre-release Docker tag with the current code from master? We're currently using a fork but our requested changes have been merged into master and we'd like to get back to using the main branch. Thanks for the great app!

[2017-09-07 10:27] markplindsay commented on #125
Hi @djenriquez,

I can confirm that on my Vault v0.8.1 install the policy you listed immediately above does not work. I am able to see the `Auth Backends -> token/` item in the sidebar, and I am able to click on that item and see the `Manage Tokens / Manage Roles` screen, but no tokens are listed. I get the red-colored `permission denied` message that @Nowaker reported.

It would be awesome if the

[2017-09-07 10:52] markplindsay commented on #125
Okay. I can confirm that the fragment

[code]

as @tuannvm suggested DOES work.

[2017-09-07 21:07] jprateekvmware opened #182 "Vault UI not loading all the policies in the Token Section"
Hi All,
When clicking the Token Section /New Token all the policies are not loaded.
its giving and error during load unsupported path
Below is the error url.
http://vault-ui:8000/v1/auth/token/accessors?vaultaddr=http:%2F%2Fproxy&list=true

Below is the response.

errors
:
["unsupported path"]
![image](https://user-images.githubusercontent.com/21043786/30185519-aed7fd96-93d6-11e7-9fd2-807f0e8b49fb

[2017-09-07 22:38] djenriquez commented on #182
Hi @jprateekvmware,

This could be regression from the latest refactor. I'll take a peek tonight.

DJ Enriquez

[2017-09-07 22:38] djenriquez commented on #181
Hey @scotdalton, sure thing. I'll publish a rc here soon.

[2017-09-07 22:40] djenriquez commented on #174
Hi @aramhovsepyan.

The refactor actually did include pagination at the policy level. By default, the UI will only show 7 policies. I think, however, it may be having issues loading all 50K+ policies into the UI's memory on API call, causing the UI to be unresponsive.

I'm not really quite sure how to handle this since we're limited by Vault's API. We could possible truncate the results, but that

[2017-09-07 22:40] jprateekvmware commented on #182
it was old vault .0.3.0
moved to 0.6.2 and working fine now

[2017-09-07 22:40] #182 closed, assigned to nobody

[2017-09-07 22:42] djenriquez commented on #181
See https://github.com/djenriquez/vault-ui/releases/tag/2.3.0-rc1.

Docker hub should have this image available at `:2.3.0-rc1` soon.

[2017-09-07 22:45] djenriquez commented on #182
Gotcha, that's good to know vault-ui isn't compatible with that version of Vault. Thanks.

DJ Enriquez

[2017-09-08 07:57] D-RVLx opened #183 "[2.3.0-rc1] Path navigation bug"
Hi @djenriquez

I think I found a bug on version 2.3.0-rc1
When I browse a secret backend with an unauthorized subdirectory, the unauthorized directory is added to the path as many times as you click on it.

[2017-09-08 08:14] aramhovsepyan commented on #174
Hi @djenriquez
Okay then we should be fine. Do you plan on releasing a binary version of this update any soon?
Thanks a lot.
Regards,
Aram.

[2017-09-09 05:25] aramhovsepyan commented on #174
Hi @djenriquez
Okay, we've got a build. The user view is great. We have no slow downs. It works like a charm.
However what I meant by policy pagination is not within the user detail view, but in the view with the policies. Have a look at the screenshot here. This view just freezes the VaultUI.
Thanks a lot.
Regards,
Aram.
<img width="1029" alt="screen shot 2017-09-09 at 07 21 30" src="https://user

[2017-09-11 17:24] djenriquez commented on #174
aha! it looks like i missed that one!!! Great catch @aramhovsepyan, i'll get that in soon.

[2017-09-11 20:35] djenriquez commented on #183
Nice catch. I thought i saw a pathing bug at one point in time, good to know you found a solid way to repro.

[2017-09-13 08:29] albuch opened #184 "Rebuild image regularly to pull in security fixes from node"
To get all Node and Alpine security fixes in more frequently an automated build could be set up in Docker Hub listening on upstream repository changes via Repository links.
https://docs.docker.com/docker-hub/builds/#repository-links

If corresponding node image changes the vault-ui image could be rebuilt and re-published under the same tag.

Currently vault-ui 2.2.0 image has these security issues

[2017-09-18 07:27] lesavonfou opened #185 "TTL not overwritten during token creation"
I think I found a bug in the token creation. When I set the TTL duration to 48 hours, the default value is used.
In my set up, the Vault-UI version 2.2.0 and Vault version 7.0 are used.

[2017-09-20 07:41] lesavonfou commented on #185
Nevermind, default and max ttl values were "forced" in the Auth Backend's settings.

[2017-09-20 07:41] #185 closed, assigned to nobody

[2017-09-21 15:26] johnjelinek commented on #100
I am thinking about using cubbyhole as a replacement for KeePass/Lastpass to store secrets that I don't want others to have access to.

[2017-09-21 15:51] johnjelinek commented on #100
well, that won't work -- I logged in with ldap, got a token, saved to cubbyhole, and re-auth'd via the CLI and the cubbyhole was different (different token). I guess I'll need to create a secret path with a policy that is scoped just for me -- but I'd really like to be the only one that can see the values (not even root).

[2017-09-21 19:46] AndrewSav commented on #100
@johnjelinek huh? cubbyhole is scoped to token, so naturally with different token you get different cubbyholes, this is the whole point.

From [here](https://www.vaultproject.io/docs/secrets/cubbyhole/)

[2017-09-22 23:59] tallpauley commented on #160
Sorry for the late response, @cpoole, yes it looks like that was released in 0.8.0. @djenriquez do you have any thoughts about making vault-ui front-end only?

[2017-09-22 23:59] #181 closed, assigned to nobody

[2017-09-23 00:08] tallpauley commented on #96
@msessa did you ever submit a PR for this one?

[2017-09-23 00:12] #138 closed, assigned to nobody

[2017-09-23 00:13] tallpauley commented on #142
@djenriquez Any progress on this one? Or are you waiting till next release?

[2017-09-23 00:15] tallpauley commented on #146
I'm closing this issue until there is more context for debugging, other users aren't having this issue, so we would need to know all the details of your setup.

[2017-09-23 00:15] #146 closed, assigned to djenriquez

[2017-09-23 00:21] tallpauley commented on #152
Closing. Please submit a PR as @msessa suggests.

[2017-09-23 00:21] #152 closed, assigned to nobody

[2017-09-23 00:31] tallpauley commented on #160
I'm thinking the proper way to handle this would be to have the NodeJS container for development container, and then have something like Nginx or Caddy (automatic https!) for the prod container to serve up the static assets. I don't necessarily have the time to do this right now, just suggesting :)

[2017-09-23 00:33] #173 closed, assigned to nobody

[2017-09-23 00:40] tallpauley commented on #178
@djenriquez any progress on this? vault-ui points to `/favicon.ico` which isn't a thing. https://www.vaultproject.io/ has a small and large icon, and a number of platform specific icons (which I don't think we'd need to bother with).

[2017-09-23 01:04] cpoole commented on #160
@tallpauley if it's truly just front end only I'd say have a docker-compose.yml for development that spins up a vault container and a container with npm watch && npm serve + volume mount.

I also dont have a ton of time to contribute right now but this would be something I could tackle in a month or so

[2017-09-23 18:24] djenriquez commented on #174
@aramhovsepyan apologies for the major delay. The fix is included in #187 and deployed to image `djenriquez/vault-ui:dev` if you, or anyone else, want to give that a try first before we merge in. If no responses by EOD Monday, I'll merge in.

[2017-09-23 18:34] djenriquez commented on #178
Yup, @msessa generously built us a favicon a while back, just had bad references, this fixes it (https://github.com/djenriquez/vault-ui/pull/188).

[2017-09-23 18:37] djenriquez commented on #100
Hmmm, yea let me think if theres some clever way to do that. Cubbyhole, as you discovered, is tied to the life of the token. When auth-backends are used, Vault actually assigns new tokens each time with the default TTL of that backend. So, every time you log in, you get a new cubbyhole. Currently, the best solution that I'm aware of is to have user protected namespaces, but you're right in that ro

[2017-09-24 04:22] djenriquez commented on #178
Closing via #188.

[2017-09-24 04:22] #178 closed, assigned to nobody

[2017-09-24 15:09] aramhovsepyan commented on #174
Hi @djenriquez ,
I can confirm that it all seems to work perfectly. Thanks for this update.
Do you accept donations?
Regards,
Aram.

[2017-09-24 16:00] djenriquez commented on #174
Awesome! Glad it is working. Merged in.

About donations, I suppose I could try it out! http://ko-fi.com/djenriquez

Many thanks, @aramhovsepyan. Feel free to close this issue if you believe it to be resolved.

[2017-09-25 17:16] johnjelinek commented on #100
Thinking out loud: I'm wondering if maybe there's some place for the [transit](https://www.vaultproject.io/docs/secrets/transit/index.html) backend to be used here. Right now, if I wanted to replicate the functionality of KeePass/Lastpass, I might be able to make a transit key, encrypt my secrets and then store the ciphertext on my local machine (or s3 or wherever I can access), just like I store

[2017-09-25 21:57] djenriquez commented on #100
Ah, the _transit_ backend. Yes, this functionality has been on my mind for a while.

As far as storing the ciphertext, this does sound like an interesting way of handling the problem, however, our primary goal is to represent the CLI's functionality. I can't say that we would implement this particular solution, but the transit backend, yes, that will happen.

[2017-09-26 00:05] Justin-DynamicD opened #190 "can't see secrets?"
Trying the new 2.3.0 as a container, and connecting to vault 0.8.3 (also in a container).  Both containers are mounted as host, and vault itself is using a consul backend.  Now in the vault.json, I *am* using a non-default service name, as the default name "vault" is taken already in consul, so we had to grab something different and use "site-vault".

Everything seems to work fine ... except actua

[2017-09-26 10:56] shapeshed opened #191 "JSON escaped value shown when reading secrets"
Users browsing the UI see the JSON escaped string rather than the raw value.

# Test case

* Create an entry where the value is `B):xsR0zx\!~`
* Read this entry
* The value is shown as `B):xsR0zx\\!~`. Note the additional `\` escape character.
* The expected value is `B):xsR0zx\!~`

The command line tool shows the raw value correctly when read by a user.

[code]

[2017-09-26 14:54] djenriquez commented on #190
Hey @Justin-DynamicD, I wonder if what @tallpauley merged in recently was related to this #189 ? Can you try running `:latest` and see if that fixes it? If not, does `:2.2.0` work?

<s>When you say service name, do you mean the mount path?</s>

Nevermind, you are using the consul namespace "site-vault" to register in consul as the root namespace, interesting. Vault-UI doesn't actually interface wi

[2017-09-26 14:59] djenriquez commented on #191
Hey @shapeshed. This is going on because of JSON semantics and is actually by design. A `\` character is considered a "control" character and thus cannot be saved in JSON. So, when you write a secret using the Vault CLI with a `\` character, you are actually storing a JSON in the backend with `\\`. Vault-UI shows you pure JSON, and because of that, you see the `\\`.

<img width="320" alt="screen s

[2017-09-26 15:11] tallpauley commented on #190
The issue I fixed was just additional spacing in the breadcrumb when there
were breaking characters like space or dash. Functionally everything still
worked fine though.

On Sep 26, 2017 7:55 AM, "DJ Enriquez" <notifications@github.com> wrote:

[2017-09-26 15:21] fengor opened #192 "EINVAL error on login"
Hi

i have been trying to get your vault-ui docker image to work on a multinode Kubernetes cluster (https://github.com/coreos/coreos-kubernetes/tree/master/multi-node/vagrant) but alwys get the following error message no matter which auth backend i use:

Error: Error: connect EINVAL 0.0.32.8:80 - Local (0.0.0.0:0)

I verified that i can reach the clusterip and the serviceport of the vault service

[2017-09-26 15:32] tallpauley commented on #192
Are you able to connect to your vault server with another vault container
acting as cli?

On Sep 26, 2017 8:21 AM, "Daniel Brachmann" <notifications@github.com>
wrote:

[2017-09-26 15:39] fengor commented on #192
that works fine

[code]

[2017-09-26 16:04] tallpauley commented on #192
Ok, well did you try experimenting with the vault server url setting on the
vault ui login page? You could mess around and get it to work through the
ui then update `VAULT_URL_DEFAULT`. I'm just throwing out ideas, no idea of
what you are facing exactly :)

On Sep 26, 2017 8:39 AM, "Daniel Brachmann" <notifications@github.com>
wrote:

[2017-09-26 16:05] fengor commented on #192
yupp already tried it. the url i'm using is working fine with a different vault-ui project but the ux of that one isn't quite as good.

[2017-09-26 16:09] djenriquez commented on #192
Just to clarify, are you having trouble reaching Vault-UI through your browser? Or are you having trouble reaching Vault from Vault-UI?

[2017-09-26 16:14] fengor commented on #192
I'm having trouble reaching Vault from Vault-UI.

[2017-09-26 16:51] Justin-DynamicD commented on #190
It's certainly one that doesn't make sense to me either.  the non-standard vault name is the result of the dev team already having a container named "vault" floating around, so we had to come-up with something unique.  It's been good so far, though honestly the entire stack is in it's infancy so that could change.

I tried both latest and 2.2.0, no difference.  Auth backends work fine (can browse,

[2017-09-26 17:01] djenriquez commented on #190
If you're using 0.8.3, then it may not matter as I don't believe there are any rest API changes since 0.6.x. It would be helpful to know if you're getting any errors in your browser's console logs OR if there are any failed network calls. I believe all modern browsers have these tools, but I know for sure that Chrome does.

Are you able to pull up any of these? Otherwise, I could try setting up a

[2017-09-26 17:02] djenriquez commented on #192
I've seen EINVAL when I was using the wrong protocol. Can you confirm that you are using the proper `http/https` endpoint with the port appended to the connection string?

[2017-09-26 17:05] djenriquez commented on #184
@albuch, a repository link to `node` was added:
![screen shot 2017-09-26 at 10 03 09 am](https://user-images.githubusercontent.com/4636740/30873472-3fb159aa-a2a2-11e7-9bd1-e7106d56cab3.png)

Thanks for the suggestion!

[2017-09-26 17:05] #184 closed, assigned to djenriquez

[2017-09-26 17:38] Justin-DynamicD commented on #190
So lets try to get a little more clarity on other variables:

1.  We run 3 "hashi-stack" servers (for lack of a better term).  Each server has docker and runs 4 containers all bound net=host: consul, vault, nomad, and vault-ui.

2.  Because we needed 3 consul boxes for raft quorum, we just added vault to use the consul backend and setup multiple vault boxes in ha.  (1 active and 2 standby, mirrori

[2017-09-26 19:03] djenriquez commented on #190
AHA!

You are getting a load-balancing error. Vault uses error code 429 differently from most other server return code implementations. Vault uses 429 as:

https://www.vaultproject.io/api/index.html#429

Interesting problem to solve, and there are many ways to solve it, but you need to control the Vault server that Vault-UI hits. It needs to hit the leader. Now, there are configuration values in V

[2017-09-26 21:00] albuch commented on #184
Awesome, thanks @djenriquez

[2017-09-27 08:51] fengor commented on #192
I'm using the same endpoint that is working with the nyxcharon/vault-ui

I'm no knowing enough about react to be able to debug it further. and the container logs dont show an error either

[2017-09-27 15:19] djenriquez commented on #192
If you open up your browsers debug tool, Vault-UI is likely throwing a more verbose error in the console, or there is likely a network request that is failing and has more information in the response. Could you check these and see if there is anything helpful there?

Thanks,

DJ Enriquez

[2017-09-27 15:20] djenriquez commented on #190
@Justin-DynamicD, can you confirm or deny if this is the issue you are seeing?

[2017-09-27 16:05] fengor commented on #192
In the Firefox console i see a request to http://172.17.4.201:30080/v1/auth/token/lookup-self?vaultaddr=10.3.0.87:8200 which gets a 500 Return Code and the response contains the following :

errors | [1]
-- | --
0 | Error: connect EINVAL 0.0.32.8:80 - Local (0.0.0.0:0)

[2017-09-27 16:15] Justin-DynamicD commented on #190
Just got in the office this morning, I'll go through both the immediate tweak (make sure vault only looks at the active server) as well as read a bit on the ha flags on vault itself to make sure everything is "proper".  Will edit this post with results.

OK so the error message changed a bit ... so I think I'm inching closer.

Changes made:
1.  In the vault container, I made sure the env variables

[2017-09-27 17:03] rosspeoples commented on #192
0.0.32.8 is not a valid IP address

[2017-09-27 18:53] fengor commented on #192
I'm not trying to access 0.0.32.8. I am trying to access: 10.3.0.87:8200

[2017-09-27 19:23] djenriquez commented on #192
@fengor, you're missing the protocol scheme in your vault addr. That URI should either look like:

## unsecure
[code]
or
## secure
[code]

[2017-09-27 19:24] djenriquez commented on #192
We could put logic in place where if it's missing, assume `https`, otherwise, that is definitely your issue.

[2017-09-27 19:52] fengor commented on #192
Or just give a decent error message? Like check if the string starts with http?

Going to try with the protocol in the url tomorrow and will report.

I'd classify this as a missing input validation bug or at least unclear documentation.

[2017-09-27 19:53] djenriquez commented on #192
I agree, thanks for the input. We'll leave this issue open until we have a fix.

[2017-09-28 11:22] fengor commented on #192
Ok tested it with the protocol in front and the http://10.3.0.87:8200 successfully connects.

Insofar as handling the wrong input I'd prefer a simple and clear error message to prepending http/s:// if it misses since it could confuse an user if the wrong protocol was assumed.

[2017-09-28 11:31] fengor commented on #192
I created a pull request with a quick fix to the readme.md that would have helped me to avoid this issue. That isn't a real fix but should help till the real fix is implemented

[2017-09-28 15:33] djenriquez commented on #191
@shapeshed closing this issue, re-open if you believe there should be some action here.

[2017-09-28 15:33] #191 closed, assigned to nobody

[2017-09-29 08:26] shapeshed commented on #191
Thanks @djenriquez! I understand JSON escape characters and why this happens 😄.

The use case is that Vault and Vault UI is being used as a password manager at a small business. Non technical staff are using Vault UI to retreive secrets and copying values from Vault UI to their clipboard. Because the values include the JSON escape characters the passwords fail. As such Vault UI is an effective way

[2017-09-29 09:32] grubberr opened #196 "Click on user in 'User Manager' (userpass backend) - UI error"
Hello,

I have the latest versions of
vault (0.8.3) and vault-ui (docker image: bb6a0491210e)
installed by docker

Auth Backends -> userpass -> click on any user from list

I got such UI error:

TypeError: r.split is not a function

[2017-09-29 13:10] curlywurlycraig opened #197 ""generic" secrets backend is now named "kv""
As per [the changelog for Vault](https://github.com/hashicorp/vault/blob/master/CHANGELOG.md#083-september-19th-2017), the `generic` secrets backend is now named `kv`. It seems that `vault-ui` doesn't look for secrets mounted as the type `kv`, as when we have created secrets via. the CLI mounted as type `kv`, they are not visible in the vault-ui sidebar.

**Expectation**: Secret backends with type

[2017-09-29 13:48] djenriquez commented on #191
@shapeshed, in that case, it may benefit you to use the root key bias available in the settings. With this option, the value is parsed, removing the special characters, however, this feature depends on every secret using the same “key” for the KV pairs.

[2017-09-29 22:24] djenriquez commented on #197
Hmm I wonder if this is whats going on with #190.

[2017-09-30 18:17] djenriquez commented on #157
Fix is included in #199.

[2017-10-01 07:02] djenriquez commented on #157
Closing per #199.

[2017-10-01 07:02] #157 closed, assigned to nobody

[2017-10-01 08:59] djenriquez commented on #197
@curlywurlycraig, this has been merged in, give it a shot at `djenriquez/vault-ui:latest`. If it looks good to you, please close the issue.

[2017-10-01 09:01] djenriquez commented on #190
@Justin-DynamicD, this issue may have to do with the change to the `generic` into `kv`. Vault-UI had `generic` hard coded, so if running Vault 0.8.3 and the backend was `kv` by default, you would have run into issues as I verified myself.

Give `djenriquez/vault-ui:latest` a shot, that has the fix merged in. Let me know what you see.

[2017-10-01 09:28] djenriquez commented on #196
@grubberr issue is resolved in `djenriquez/vault-ui:latest` from #201. Please verify and close the issue if all is good.

[2017-10-01 09:31] #174 closed, assigned to nobody

[2017-10-01 09:38] djenriquez commented on #142
@vinayshettar @tallpauley The latest Vault-UI desktop client is available on the [releases page](https://github.com/djenriquez/vault-ui/releases) or directly [here](https://github.com/djenriquez/vault-ui/releases/download/2.4.0-rc2/Vault-UI-2.4.0-rc2-win.exe).

[2017-10-01 09:38] djenriquez commented on #142
Closing.

[2017-10-01 09:38] #142 closed, assigned to nobody

[2017-10-01 15:32] grubberr commented on #196
docker pull djenriquez/vault-ui
IMAGE ID: 853bd74e43e3
now works ok !!!
Thanks

[2017-10-01 15:33] #196 closed, assigned to djenriquez

[2017-10-02 01:47] djenriquez commented on #183
@Garath620 this bug should be fixed in the `djenriquez/vault-ui:latest` per #203. Please verify and close this issue is all is good.

[2017-10-02 01:50] djenriquez commented on #163
@nusnewob this bug should be fixed in release `2.3.0` with #175, which was a complete refactor of how secrets are loaded into the UI. Please verify the issue fixed and close this issue if all is good.

[2017-10-02 02:20] djenriquez commented on #192
@fengor an improved check has been introduced in #204 and has been merged in. Please test on `djenriquez/vault-ui:latest` and close this issue if all is good.

[2017-10-02 02:23] djenriquez commented on #119
Going to close as this is one of those things we will just need to handle case by case.

[2017-10-02 02:23] #119 closed, assigned to nobody

[2017-10-02 07:59] D-RVLx commented on #183
It works, Thanks!

[2017-10-02 07:59] #183 closed, assigned to djenriquez

[2017-10-02 13:58] ShaunBaker commented on #29
What is the status of this issue - will it be updated anytime soon?

The change could be as simple as leveraging an environment variable to set the value for the base href HTML tag - and then leverage relative URLs for scripts/styles - thoughts?

@djenriquez

[2017-10-02 16:39] tallpauley opened #205 "Allow creating tokens from UI w/out ability to read auth/token/accessors"
It would be nice if one could generate tokens in the UI without having ability to list all the token accessors

[2017-10-02 16:42] djenriquez commented on #29
Hey @ShaunBaker, probably about time I look into this one eh? I'll take a peek tonight, hopefully it will be that easy. 🤞

[2017-10-02 16:45] djenriquez commented on #190
Hey @Justin-DynamicD, I can confirm that, with 0.8.3 of Vault, secret backends will use `kv` as the backend by default, which did not work until the fix in #197. You should be good to go with the latest version. Please verify and close the issue if all is good.

[2017-10-02 16:45] tallpauley commented on #205
Hmmm, well reading the code it looks like this should work technically. I'll close, make sure I don't have a configuration error, and re-open if it is actually a bug.

[2017-10-02 16:45] #205 closed, assigned to nobody

[2017-10-02 16:54] Justin-DynamicD commented on #190
Thank you very much for the followup.  yes, I can confirm switching to latest (and flushing out the old images from disk) has indeed solved my problem.  Thanks everyone for all the help!!!

[2017-10-02 16:54] #190 closed, assigned to djenriquez

[2017-10-03 03:16] exponov commented on #141
Currently you can view the roles under /secrets/generic/ssh/roles/ URI, but they are not visible in the left nav. These roles are created in Vault with: `vault write ssh/roles/ssh_role_name key_type=otp default_user=ubuntu cidr_list=0.0.0.0/0` as example for creating OTP type role.

[2017-10-03 03:59] djenriquez commented on #29
Hmmm. This is a littler tricker than it should be.

The problem with the current setup is Vault-UI has a backend component, so we can't just apply a variable doc-root with an environment variable since the environment variable only exists on the server-side. In order to get the custom doc-root, we have to tell the Vault-UI client to query the variable from the server. In order to query the variabl

[2017-10-03 04:07] djenriquez commented on #197
Closing per #198.

[2017-10-03 04:07] #197 closed, assigned to djenriquez

[2017-10-03 04:07] djenriquez commented on #192
Closing per #204.

[2017-10-03 04:07] #192 closed, assigned to nobody

[2017-10-05 19:33] ndcampbell opened #209 ""Backend not yet configured" Behavior"
For auth backends, if you click on it you get "This backend is not yet configured" and directed to the configuration page with the "Manage Roles" tab being greyed out and unclickable. Like the code:

https://github.com/djenriquez/vault-ui/blob/35ab0d048b991174303d1a74c3f5becc56a965f6/app/components/Authentication/Aws/Aws.jsx#L139-L142

Some auth backends though, like Aws/Aws-ec2 do not specificall

[2017-10-06 10:29] martinkoch-geniebelt opened #210 "Port number ignored in VAULT_URL_DEFAULT environment variable"
I'd like to point the vault ui to e.g. vault.myorg.com at port 8200; I have set `VAULT_URL_DEFAULT=http://vault.myorg.com:8200`, but the UI shows an error when I try to authenticate with a token: `Error: Error: connect ECONNREFUSED 172.16.1.6:80` - so it seems port 80 is used instead of 8200.

[2017-10-06 13:27] djenriquez commented on #210
Hey @martinkoch-geniebelt, the default value from the environment variable only goes into effect if the browser has not cached a value for you already. Try to run vault-ui in incognito mode for your browser, otherwise clear your cache and let me know what happens.

Also on the login page, you can see what value Vault-UI is explicitly trying to use by navigating into the settings (gear icon).

[2017-10-08 19:58] martinkoch-geniebelt commented on #210
Ah, you're right. Thank you. This is then not an issue.

[2017-10-08 19:58] #210 closed, assigned to nobody

[2017-10-10 16:46] songlei99 opened #211 "The protocol is not recognized in VAULT_URL_DEFAULT"
It seems whatever URL set in VAULT_URL_DEFAULT, it always goes to http protocol, thus when we want to enable the TLS connection to Vault, the server shows the error 'tls: first record does not look like a TLS handshake'

[2017-10-11 05:20] djenriquez commented on #211
Hi @songlei99, I think you may be running into the same issue as #210, which is that `VAULT_URL_DEFAULT` only goes into effect the first time vault-ui is loaded into the browser. Afterwards, your browser caches the vault address and can only be changed by either resetting your browser cache OR changing the Vault address in the Vault-UI settings. The `VAULT_URL_DEFAULT` environment variable was rea

[2017-10-11 17:45] songlei99 commented on #211
That is exactly the cache issue you mentioned. Thanks a lot for pointing out.

This issue is closed.

[2017-10-11 17:45] #211 closed, assigned to nobody

[2017-10-16 17:32] shanedasilva opened #212 "Error: Error: connect ECONNREFUSED 127.0.0.1:8200"
Getting this error when attempting token auth. Endpoint it's hitting is **http://localhost:8000/v1/auth/token/lookup-self?vaultaddr=http:%2F%2F127.0.0.1:8200**.

I do have Vault running on **http://127.0.0.1:8200** so not sure how to debug this.

[2017-10-16 22:07] djenriquez commented on #212
Hi @shanedasilva, could you please post what version of Vault and Vault-UI you are using?

[2017-10-17 00:35] zerkms opened #213 "Images don't show in the "Create new secret" popup"
Binary: vault-ui-2.4.0-rc3-x86_64.AppImage
OS: ubuntu 16.04

![screenshot from 2017-10-17 13-32-44](https://user-images.githubusercontent.com/302295/31641270-fae6188e-b33f-11e7-9ba1-c72514263ecf.png)

Console error:

[code]

[2017-10-17 18:19] jprateekvmware opened #214 "Renew token feature not working"
Hi All,
I have set the mount exp max ttl to 6 months and default ttl to 1 month.
When I renew the token through UI its not getting renewed. But when I execute from the command prompt vault token-renew its working fine.

[2017-10-19 14:03] pravinkumarb84 commented on #51
is it possible to enable any basic authentication for hashi-ui?

[2017-10-19 14:35] josegonzalez commented on #51
@pravinkumarb84 you can put nginx or some other webserver in front of hashi-ui and do basic authentication there.

That said, such a question is unrelated to this issue, so please don't comment on unrelated issues with your question :)

[2017-10-19 14:48] jippi commented on #51
Once Nomad 0.7 is stable I'll add ACL support to hashi-ui :)

[2017-10-19 16:24] shanedasilva commented on #212
Hey @djenriquez , thanks for getting back to me.
Vault v0.8.3
Vault-UI: vlatest

[2017-10-19 20:01] djenriquez commented on #212
@shanedasilva are you running Vault-UI as a docker container? If so, can you `exec` into Vault-UI and see if you can hit vault from there.

Also, are you using `--net host` host networking? If not, Vault-UI is likely attempting to access 8200 from the virtual network it is running in, which is different than the localhost route on the host. If you can't use host networking, you'll have to use the

[2017-10-28 04:34] jskcbe opened #215 "I am getting error creating container vault_1"
ERROR: Service 'webpack' failed to build: The command '/bin/sh -c yarn install --pure-lockfile --silent &&     yarn run build-web &&     yarn install --silent --production &&     yarn check --verify-tree --production &&     yarn global add nodemon &&     yarn cache clean &&     rm -f /root/.electron/*' returned a non-zero code: 1

------------- docker-compose ps -------------
Name   Command   Stat

[2017-10-30 13:20] isuftin opened #216 "ClamAV finds CVE exploit in app/dist/web-bundle.js in Docker image"
As of today, our ClamAV scan is finding Html.Exploit.CVE_2017_8738-6336184-2 in the Docker image for this software.

Using djenriquez/vault-ui:2.4.0-rc3

[2017-10-30 15:15] djenriquez commented on #216
Good find, I’ll make sure to add in all updates and create a release. Could you check the `latest` image in the meantime and see if the vulnerability exists there also?

[2017-10-30 15:18] isuftin commented on #216
@djenriquez I can run the latest image on our servers and see if the upstream ClamAV scan finds it. Might be a day or two before I am able to report.

[2017-10-30 17:45] johnjelinek opened #217 "Periodic Tokens"
[Periodic Tokens](https://www.vaultproject.io/docs/concepts/tokens.html#periodic-tokens) allow applications to keep renewing tokens within the TTL, thus resetting the TTL. According to [this](https://groups.google.com/forum/#!topic/vault-tool/aBFdpngO5v0) you can create a periodic token in the CLI like this:
[code]

It would be cool to be able to create periodic tokens via Vault UI

[2017-10-31 03:21] djenriquez commented on #216
Published https://github.com/djenriquez/vault-ui/pull/218, which includes an upgrade to the base image, should include the latest security patches. Could you test out `:latest` ?

[2017-10-31 14:44] isuftin commented on #216
@djenriquez Looks to still be an issue

[code]

The Swarm service is using djenriquez/vault-ui:latest

[2017-11-02 11:20] reegz commented on #212
Hi @djenriquez ,

I'm experiencing the same issue as @shanedasilva .

Vault: v0.8.3
Vault-ui: latest

Error: "Error: Error:connect ECONNREFUSED 127.0.0.1L8201"

Command: docker run --rm -it -p 8000:8000 -e VAULT_URL_DEFAULT=http://10.36.94.20:8200 -e VAULT_AUTH_DEFAULT=USERNAMEPASSWORD -e VAULT_ADDR=http://10.36.94.20:8200 -e VAULT_LOCAL_CONFIG='{"listener" : { "tcp" : {"address" : "0.0.0.0:8200",

[2017-11-03 04:56] djenriquez commented on #216
Hey @isuftin, doing some research on this. I'm not really quite sure how to fix it at this moment, could be any of the hundreds of packages required to build Vault-UI, unfortunately. I'll keep looking.

[2017-11-03 04:58] djenriquez commented on #215
Hi @jskcbe, this tends to happen pretty commonly when yarn package mirrors are having issues. Usually, running `docker-compose build` before running the `./run-docker-compose-dev` fixes these things. Can you verify if this problem is consistent?

[2017-11-03 04:59] djenriquez commented on #214
Hey @jprateekvmware, I'll take a look at the API call being made and make sure its being called correctly.

[2017-11-03 13:15] isuftin commented on #216
@djenriquez I agree. And the other issue being that the web-bundle.js is minified so it's hard to figure out what in there is triggering this.

[2017-11-03 14:51] aramhovsepyan opened #219 "Bug in viewing assigned policies to a user"
Hi @djenriquez,

I have found a minor bug when viewing the assigned policies to a user. It says "TypeError: t.selected.items.sort is not a function".
I am attaching a screenshot.
Thanks for your amazing work.
Best regards,
Aram.
<img width="1078" alt="screen shot 2017-11-03 at 16 49 07" src="https://user-images.githubusercontent.com/25081340/32379810-37dec3a6-c0b7-11e7-843e-8ee2725116d8.png">

[2017-11-06 18:06] djenriquez commented on #219
Thanks @aramhovsepyan, will take a look at this soon.

[2017-11-08 14:46] isuftin commented on #216
@djenriquez I'm going to close this. The web app bundle was scanned by tens of others scanners and they have all cleared it. I am chalking this up to a false positive. Thank you for the work done on this.

[2017-11-08 14:46] #216 closed, assigned to nobody

[2017-11-08 18:23] djenriquez commented on #216
Great to hear @isuftin, thanks for taking the time to look into this.

[2017-11-08 18:23] djenriquez commented on #216
Great to hear @isuftin, thanks for taking the time to look into this.

[2017-11-10 03:04] rohitkoul commented on #39
@djenriquez This doesn't seem to be working for me.
 In 2.3.0, using token auth -  I did the following:
* set the VAULT_SUPPLIED_TOKEN_HEADER as "myheader".
* set the "myheader" header value as vault root token.
* Hit the vault ui. It still throws me a login page.  I expected it to log me in as root.
* Puzzled, I hit the login button (with no value for token), and I see that X-VAULT-TOKEN is being

[2017-11-10 03:15] djenriquez commented on #39
Yup, and I see the bug already. Surprising we got this far without anyone noticing it. Will have a fix here in a bit @rohitkoul

[2017-11-10 03:40] djenriquez commented on #39
@rohitkoul: https://github.com/djenriquez/vault-ui/pull/220, merging in, feel free to test on `:latest` in a few minutes.

[2017-11-13 17:56] albuch opened #221 "Automatic build on base image change only updates latest tag"
@djenriquez I've noticed that the automatic build that you've set up for #184 is only tagging with 'latest'.
Is there a possibility to get the latest stable version tag (e.g. currently 2.3.0) to be build and republished as well?
Users probably don't want to switch to the 'latest' tag in production deployments but currently have to to get security fixes for the base image.

[2017-11-14 18:55] aramhovsepyan commented on #219
Hi @djenriquez
The problem seems solved in a newer vault version (>0.8.3).
Regards,

[2017-11-14 22:58] djenriquez commented on #221
Hey @albuch, completely understand. I don't see an _obvious_ way to do that through docker hub. I'll dig around and see what I can do.

[2017-11-27 08:23] pvandervelde commented on #29
@djenriquez Has there been any progress on this. I'm trying to run VaultUI behind [fabio](https://github.com/fabiolb/fabio). I'm running VaultUI in a container on port 8000 and fabio is redirecting to `http://myfabiohost/dashboards/vault`. The page isn't loading because the UI is trying to load the JS files from the root of the URL (i.e. `http://myfabiohost`)

[2017-11-27 15:23] D-RVLx opened #222 "Logout button doesn't revoke token"
Hi @djenriquez ,

When I click on logout button in menu, I notice that my token is still valid.
is this a bug?

[2017-11-27 17:03] djenriquez commented on #222
Hi @Garath620. No, logging out of Vault-UI does not invalidate your token. Your token's TTL is completely managed by Vault. Now, that doesnt mean we can't extend the functionality to invalidate on logout, if thats the appropriate path here. We would, however, have to determine which auth backends qualify for this. I'm not sure if it would make sense to invalidate raw token backends as much as it w

[2017-11-27 17:10] djenriquez commented on #29
Hi @pvandervelde, it has been sidelined since the obstacle mentioned above was hit. Waiting on creative solutions for this one. This can still be corrected via reverse-proxy that does `hostname` based routing, its how we do it in my org today.

But, thinking about your use-case that wont work. Maybe we progress the hacky template parsing?

[2017-11-28 09:21] D-RVLx commented on #222
Why you have to determine which one auth backend is used?
Could you just revoke the current token?

[2017-11-28 09:30] djenriquez commented on #222
There are organizations that generate Vault Tokens with TTLs and enforce policies that way. If we were to revoke these tokens on log out, they would lose all other functionality associated with that token. We cannot assume people use Vault UI as the only interface to Vault.

There is likely a reason why Vault does not expire tokens per use. Since they do not implement that functionality, we should

[2017-11-28 09:44] D-RVLx commented on #222
Maybe adding a dedicated entry ("Revoke Token") in the menu could be a way to do that?

[2017-11-30 12:52] BSHDST commented on #213
Same issue here.

Tested on Ubuntu 16.04 and Windows Server 2016
![untitled](https://user-images.githubusercontent.com/34129320/33431690-9af39808-d5d5-11e7-856f-3393d0cd07e0.png)

[2017-12-01 14:11] VincenzoDo opened #223 "Token permissions not read"
I've deployed the latest docker vault image and the latest docker vault-ui image. When connecting with a token generated with the explicit policies you suggest in the README I still get the "Your token doesn't have permissions to list authentication backends" message.

Here's the default policy with the needed paths.

`vault policies default`
path "auth/token/lookup-self" {
    capabilities = [ "r

[2017-12-01 15:07] VincenzoDo commented on #223
I've found the solution, for some reason even if I had specified the VAULT_URL in https if was showing me http in the Vault-UI login page. Once I changed it to https everything was working.

[2017-12-01 15:07] #223 closed, assigned to nobody

[2017-12-07 21:17] brianbenns opened #224 "Long policy names unreadable in assigning policies"
![image](https://user-images.githubusercontent.com/10833850/33739139-fa649ac8-db69-11e7-9e74-4abb7538b6db.png)

[2017-12-08 19:59] sfrique opened #225 "Unable to create policy with additional property"
I am testing vault and vault-ui, and I need to user be able to change it's own password.

For that I have this policy:
[code]
When trying to add this using vault-ui i get this msg:

![image](https://user-images.githubusercontent.com/3711481/33782836-53166e30-dc41-11e7-8a7c-1b30308cc4a6.png)

I can add the policy over api, and it works.

If you have any suggestion on how to let user update it's own

[2017-12-14 01:41] djenriquez commented on #225
Looks like an update to the schema needs to happen. I'll have time in the next few days to look into this and other issues.

[2017-12-14 01:48] djenriquez commented on #224
Thanks @brianbenns, will take a look.

@laralee3 know any creative solutions to this?

[2017-12-29 15:35] margueritepd opened #226 "Document how to run vault-ui docker image without nodemon"
I got this error when running vault-ui as a docker container:

[code]

Apparently this is related to the `fs.inotify.max_user_watches` system setting being set too low, similar to what is described [here](https://github.com/guard/listen/wiki/Increasing-the-amount-of-inotify-watchers#the-technical-details).

Currently it is the docker image's default to serve files via `nodemon`, which is what is u

[2017-12-29 19:03] Lucretius commented on #226
You can just replace `nodemon` with `node` and you'll run the server without the automatic restarting that `nodemon` provides.  Documentation-wise I can make a small change to point this out.

[2017-12-29 19:13] margueritepd commented on #226
@Lucretius Thanks. To clarify, it would be good to document how to run the already-built docker image with `node`, rather than how to change the `package.json` to run with `node`.

[2018-01-02 08:28] lesavonfou commented on #170
Hey @djenriquez ,

I share your opinion about the unseal process of Vault. An unsealing option would be great!

[2018-01-02 15:51] maxvt commented on #226
If the docker image is primarily intended for people running `vault-ui` and not developing it (sounds like a reasonable assumption), it would make sense for the default configuration to be intended for production. This might mean using `node` by default, and switching to `nodemon` for development only.

[2018-01-02 21:58] djenriquez commented on #226
No problem guys, this fix should be super quick. Working on it now.

[2018-01-02 22:09] djenriquez commented on #226
#227 handles the difference between development and default runs. By default, Vault-UI will launch with `node`.

[2018-01-02 22:38] djenriquez commented on #225
@sfrique Apologies for the incredibly late fix, this PR should take care of your issues: #228

[2018-01-02 22:41] djenriquez commented on #222
Hi @Garath620, I firmly believe that Vault-UI should not alter the mechanics of Vault token lifecycles. These should be controlled through Vault and Vault-UI will simply use what its given. Its a bit of a dance building Vault-UI without altering Vault mechanics and I think we definitely should stay out of this one.

[2018-01-02 22:41] #222 closed, assigned to nobody

[2018-01-02 22:47] djenriquez commented on #226
@margueritepd please test out `:latest` and verify it fixes the issue you see then close this issue. This issue will be closed otherwise in 48 hours if no response 👍 .

[2018-01-02 22:47] djenriquez commented on #225
@sfrique please test out :latest and verify it fixes the issue you see then close this issue. This issue will be closed otherwise in 48 hours if no response 👍 .

[2018-01-02 22:48] djenriquez commented on #224
@Lucretius Let me get your thoughts, does a tooltip-like feature sound doable here?

[2018-01-03 02:09] sfrique commented on #225
@djenriquez It is working now!

Hey, you don't need to apologize at all for the "late fix" this is a great project, I am the one who appreciate the fix for the issue i was having! Thanks!

![image](https://user-images.githubusercontent.com/3711481/34507101-30c1ab3c-f01a-11e7-9d1c-7198111148f8.png)

[2018-01-03 02:09] #225 closed, assigned to nobody

[2018-01-04 18:53] margueritepd commented on #226
@djenriquez I probably won't get to this before you want to close the ticket, but your change looks good! when I try it, if I run into issues I'll report back here. Thanks a lot!

[2018-01-04 18:53] #226 closed, assigned to nobody

[2018-01-05 16:48] matthewmrichter opened #229 "Default listen port not being set to 8000"
For releases after roughly tag 2.2.0, when we launch vault-ui in our Mesos/Marathon cluster, it seems to be listening on a random port rather than 8000 by default (as is specified in the README). I was able to resolve this by adding the PORT=8000 env variable via our Marathon template, which seems to force the port to 8000. But otherwise, it was spinning up on a random port and then failing our ma

[2018-01-08 16:44] adrien-barret opened #230 "problem with the docker-compose"
Hi,

trying to use the docker-compose, here is my outpout :
Ubuntu 16.04
new workspace

[BABEL] Note: The code generator has deoptimised the styling of "/app/node_modules/lodash/lodash.js" as it exceeds the max of "500KB".
Killed
info Visit https://yarnpkg.com/en/docs/cli/run for documentation about this command.
error Command failed with exit code 137.
ERROR: Service 'webpack' failed to build: Th

[2018-01-08 19:42] amd989 commented on #213
Same issue in Windows 7
Version: 2.4.0-rc3-win

[2018-01-09 14:19] eddie4 commented on #230
I had the same issue. It is connected to not having the correct dependencies. Am running Ubuntu and this fixed it for me:

btw this also creates a portainer container on port 9000
[code]

[2018-01-09 19:55] nathan-v opened #231 "Feature request: Okta GUI Login"
The killer feature for my use case would be to support SAML/Okta login for the UI. I should be able to use LDAP for now but Okta would be preferred.

Thanks! Appreciate your work on this project.

[2018-01-10 00:24] nathan-v commented on #231
Well now that I have the RC running it seems Okta is there. The README.md just needs updated. Closing this. :)

[2018-01-10 00:24] #231 closed, assigned to nobody

[2018-01-14 19:21] adrien-barret commented on #230
it need to be into the docker, I don' t understand why it depend on my depedency.
If it' s not portable and flexible, it' s not a docker solution ;)

[2018-01-15 14:10] eddie4 commented on #230
You have a point, this is just how I fixed to mess around with vault.

[2018-01-16 01:13] mhyndavi7 opened #232 "Vault UI Connection refused"
When trying to setup vault-ui locally , during login using TOKEN based authentication ,it returns with error : connection refused 127.0.0.1:8200 .Screenshot below [
<img width="797" alt="screen shot 2018-01-15 at 5 13 26 pm" src="https://user-images.githubusercontent.com/35473962/34967417-6e0f201c-fa17-11e7-9af0-dc4444619f9c.png">
](url)

[2018-01-18 00:36] boeboe opened #234 "[FeatureRequest] Add kubernetes auth backend"
I would like to use kubernetes authentication back-end using the docker images released on [DockerHub](https://hub.docker.com/r/djenriquez/vault-ui).

The following PR (https://github.com/djenriquez/vault-ui/pull/233) should implement this feature (I was unable to get the development env up and running locally, keep getting an empty page)

[2018-01-22 05:22] theonlyway opened #235 "GUI elements missing"
Hi,

Just installed the latest release (Vault-UI-2.4.0-rc3-win) and some GUI elements are missing when creating a secret. To be sure it wasn't an issue with the RC I went and installed 2.1.0 and the same issue occurs.

![image](https://user-images.githubusercontent.com/9046131/35206289-62c46aa8-ff87-11e7-9cbd-e255a5debbf6.png)

When I attempt to load the create new secret dialogue dev tools report

[2018-01-22 09:22] ghost opened #236 "[Feature Request] Create AppRole Secret IDs"
You can create, modify and delete roles in AppRole, however I can't find a way to be able to see / generate new secret id's for each app role. That's kind of crutial for getting tokens from secret IDs & role IDs.

It would be pretty great if we could generate secret IDs from a role.

[2018-01-22 16:23] ghost commented on #232
Have you looked at your netstats to see if port 8200 is open and listening?

[2018-01-22 21:46] mhyndavi7 commented on #232
The issue is resolved .Its about the path variable .MY bad.Thanks a ton .

[2018-01-22 21:46] #232 closed, assigned to nobody

[2018-01-23 13:55] ghost commented on #229
What command were you using to spin up the dockerings?

EDIT: I've checked my own docker file, and I haven't needed to add an ENV for port 8000. So I doubt this is an issue with the docker file.

[2018-01-25 17:48] rosspeoples opened #238 "Error when deleting a policy"
After creating a policy, attempting to delete it returns `* unsupported path`.

Assuming role name is `myrole`, Vault UI attempts to `DELETE` using:

`/v1/auth/approle/myrole`

The correct path is:

`/v1/auth/approle/role/myrole`

Notice the additional `/role/` in the path.

[2018-01-31 16:04] gmarziou opened #241 "Support for multiple paths per policy"
Hello,

Running master (#b94bb169e67e95a2f14c6f38f2e27683ef16066e) on top of vault 0.9.3.

When I open a policy with multiple paths, I get warnings.

![2018-01-31_17h01_30](https://user-images.githubusercontent.com/361007/35632960-698d4666-06a8-11e8-87e7-b42d59e381bb.png)

Definition of my policy is below and has been loaded using vault CLI:

[code]

[2018-02-09 23:39] isuftin opened #243 "VaultUI Blank Screen - Docker Swarm behind NGINX proxy"
Not sure where to go with this. I am testing in Chrome, Firefox and Safari. When I load Vault UI, the page is blank. Dev tools console shows nothing and all of the files seem to load as expected.

I have a Docker Swarm running with VaultUI (2.4.0-rc3), Vault and Consul as services and NGINX as a service.

I can point Chrome to http://ip-of-a-worker-node/vault/

All documents seem to load as expect

[2018-02-21 17:21] tzahimizrahi opened #244 "[FeatureRequest] Add GCP auth backend"
I would like to use GCP authentication back-end using both methods GCE and IAM.
Do you have futures  plans regrading the topic?

Thanks!

[2018-02-26 18:27] DSpeichert opened #245 "Feature: Support shared servers without global read capability"
I would like to be able to use Vault UI on a shared Vault server, where - obviously - I don't have a global read capability.

I know what path I have access to, and I'd like to tell Vault UI that this path (eg `secret/myorg/`) exists and I'd like to work on it, without being able to discover it automatically.

Could this be implemented as a new feature? I think that may be a popular use case, give

[2018-02-27 14:32] isuftin commented on #243
An update (still not fixed). This is a boiled down version of the configuration setup:

docker-compose:
[code]

nginx.conf:
[code]

[code]

[code]

![image](https://user-images.githubusercontent.com/928288/36734264-9757fadc-1b98-11e8-803e-b1972ea45992.png)

^ This is what it looks like when not working via nginx

![image](https://user-images.githubusercontent.com/928288/36734303-ae8cfec8-1b98-11e8

[2018-02-27 14:45] isuftin commented on #243
FYI this is also the same behavior seen if I put a nonsensical location for the working VaultUI URL:

![image](https://user-images.githubusercontent.com/928288/36734943-9533db02-1b9a-11e8-9a76-4e1d89b352b5.png)

[2018-02-27 19:36] isuftin commented on #243
I've gone so far as to hack in the morgan npm library into VaultUI Docker.

Working (http://192.168.99.100:8000/):
[code]

Not working (http://192.168.99.100/vault/):
[code]

I've even reconfigured nginx to forget the extra URL mapping and just use `/` on port 80 to forward requests to `/` on port 8000 (Vault) and that even works fine

So yeah, it's the baseURL that's the issue and it seems there'

[2018-03-04 02:01] moneydance commented on #29
Can you make the import of dist on the index relative? I think that might fix my issue which is similar to djenriquez's issue except I'm using traefik.

`<script src="./dist/web-bundle.js"></script>
`

[2018-03-09 22:09] dwoldo commented on #213
Has this been resolved?

[2018-03-22 15:35] connaryscott opened #246 "/unwrap rendering in json possible?"
When I wrap a secret I get this url:

[code]

I try to curl this url (NO BROWSER HERE) and I get this:

[code]

which works in a browser and we get table format.

Is there a way to render json format so that a browser is not needed at all?  Just want the data using simple curl or at least a way to render it in json within the browser if possible.

[2018-03-22 23:41] trinitronx commented on #144
Yes, +1 to this!

[2018-03-23 12:03] dakujem opened #247 "Missing icons in the Win build"
While editing a secret, there are no icons:
![image](https://user-images.githubusercontent.com/443067/37828054-0c88b9e0-2e9a-11e8-8796-81b74a404c09.png)

In the dev console, this error occurs:
`GET file:///C:/Users/<username>/AppData/Local/Programs/vault-ui/resources/app.asar/dist/dist/8e7baace3c3e7575c8f1e0fca9aa9a9d.svg net::ERR_FILE_NOT_FOUND` (username replaced correctly)

... and this is what

[2018-03-23 12:57] JorisInsign commented on #247
Hi,

I noticed the same problem for mac version...

[2018-03-23 13:45] dakujem opened #248 "Error: getPaginationModel(): currentPage shouldn't be greater than totalPages"
![image](https://user-images.githubusercontent.com/443067/37832297-7844c594-2ea8-11e8-8505-2893d5f8a5aa.png)

... after clicking "create" button (pops up every time, the new token dialog window stays open, the grid on the background gets updated)

Version: `Vault-UI-2.4.0-rc3-win.exe`

[2018-03-23 13:45] ghost commented on #236
As much as this feature would be good; we've decided to move to User/Pass mechanisms, which are basically the same anyway. I'm going to close this, as it's not really a point for us anymore :)

[2018-03-23 13:46] #236 closed, assigned to nobody

[2018-03-25 18:12] josephlim75 commented on #241
instead of writing `/secret/smact/*`, try  remove the prefix `/`.  Your path should `secret/smact/*`

[2018-04-20 15:24] cloudtraining commented on #212
The solution is to NOT use 127.0.0.1 or to use 0.0.0.0 --> use your local machines actual IP address

[2018-05-21 13:07] poroporopororo commented on #247
try to unpack the app.asar then create a directory "dist" under dist (should look like this: \app\dist\dist\) then copy the 2 SVG files(8e7baace3c3e7575c8f1e0fca9aa9a9d.SVG and 7f8b4fb08d1aa6aa4ab6424413e70c42.SVG), which will correct the error on the path.

pack the app directory again using asar, then overwrite the file "app.asar"

this should resolve the issue

you can google how to install asa

[2018-05-21 17:21] dakujem commented on #247
Is it not an issue that should be fixed in distribution files?

[2018-05-22 04:12] poroporopororo commented on #247
it should be. i guess they missed that one. but what i just provided was an immediate fix if you want to have it running

[2018-05-28 11:15] alexandernst opened #249 "[FR] Support small files"
It would be very useful to be able to upload small files (like ssh keys, for example)

[2018-06-04 12:43] jodem commented on #229
On marathon looks like container port must be bound to the same host port, if you leave host port to 0 in marathon app definition (allowing marathon to pick a random port) the server won't respond to requests. As 8000 is not in the list of offered port I had to force let's say 17000 in host and container port and add the var env "PORT=17000" to have it work.

[2018-06-04 13:12] jodem commented on #229
For info it turns out marathon add automatically PORT as var env in the container of the HOST port. Since vault-ui consider this value for an override of default value, docker correctly bind the port but vault-ui start locally on the bad port, host instead of local. That explains why in marathon (1.5.6 at least) we MUST force this PORT var env to be same as bound and host.

[2018-06-04 15:23] protetore opened #250 "Approle edit isn't working"
Approle edit isn't working because it's sending *local_secret_ids*, which isn't supported on edit.

It happens because it fetch the *approle* config from vault and user the same, updated, object to send the edit request. But *local_secret_ids* can't be edited.

Also, when opening an edit dialog and clicking outside to close it, it's impossible to click in the same *approle* again, unless you click

[2018-06-06 07:24] aashishch commented on #14
@djenriquez: I am using the  djenriquez/vault-ui:latest image, I can see the secrets only when I attach the policy "secrets/*", it is not showing the creds when I change the policy to "secrets/development"

[2018-06-06 16:39] djenriquez commented on #250
Thanks for this @protetore!

[2018-06-06 16:39] #250 closed, assigned to nobody

[2018-06-07 14:11] dineshsckloud9 opened #252 "Could not connect to https://registry.yarnpkg.com - Behind Proxy"
I'm trying to run it as a container but while building the image i'm getting below error,
[code]
We are behind proxy so we are not allowed to connect to https://registry.yarnpkg.com. Is there a way to solve the error and build the image? [ Something like download all dependencies and build with that? ]

<img width="1209" alt="screen shot 2018-06-07 at 7 34 26 pm" src="https://user-images.githubuse